<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
  <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add
      name="elmah"
      connectionString="Data Source=elmahsql.cxe01l4ngnxm.eu-west-1.rds.amazonaws.com;Initial Catalog=elmah;User Id=elmahadmin;Password=0!Q8==2_16|.L+r;"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="AWSProfileName" value="BrandValues" />
    <add key="keyPairId" value="APKAJWFKSJRPHR2V45EA" />
    <add key="AWSAccessKey" value="AKIAINIQRUHQ6IHTDS3A" />
    <add key="AWSSecretKey" value="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" />
    <add key="PARAM1" value="mongodb://mongoadmin:C00doma1n@ec2-54-76-169-162.eu-west-1.compute.amazonaws.com,ec2-54-76-130-206.eu-west-1.compute.amazonaws.com,ec2-54-72-107-99.eu-west-1.compute.amazonaws.com/?connect=replicaset&amp;readPreference=secondary" />
    <!--<add key="PARAM1" value="mongodb://localhost:27017" />-->
    <add key="PARAM2" value="brandvalues" />
    <add key="PARAM3" value="test" />
    <add key="PARAM4" value="prod" />
    <add key="S3AWSAccessKey" value="AKIAJVYZYGONVSKGZKLQ" />
    <add key="S3AWSSecretKey" value="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" />
    <add key="AWSRegion" value="eu-west-1" />
    <add key="RTMPCloudfront" value="rtmpe://sbw4t54bzxsgi.cloudfront.net/cfx/st/mp4:" />
    <add key="TranscoderCloudfront" value="https://d1cqwa7cy0amzo.cloudfront.net/" />
    <add key="UploadCloudfront" value="https://d3o104q4nbxlx6.cloudfront.net/" />
    <add key="SiteFilesCloudfront" value="https://d3kx2j4tswsg1z.cloudfront.net" />
    <add key="SQSEncodingQueue" value="https://sqs.eu-west-1.amazonaws.com/122985306253/valuescomp-encoding" />
    <add key="SQSEmailQueue" value="https://sqs.eu-west-1.amazonaws.com/122985306253/valuescomp-email" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="elmah.mvc.disableHandler" value="false" />
    <add key="elmah.mvc.disableHandleErrorFilter" value="false" />
    <add key="elmah.mvc.requiresAuthentication" value="true" />
    <add key="elmah.mvc.IgnoreDefaultRoute" value="false" />
    <add key="elmah.mvc.allowedRoles" value="Admin" />
    <add key="elmah.mvc.allowedUsers" value="david.j.maxwell@aib.ie" />
    <add key="elmah.mvc.route" value="admin/elmah" />
  </appSettings>
  <system.web>
    <customErrors mode="RemoteOnly" defaultRedirect="~/Error.html" redirectMode="ResponseRewrite" />
    <httpCookies httpOnlyCookies="true" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" enableVersionHeader="false" maxRequestLength="1048576" />
    <machineKey validationKey="0074D9E5776602E629B362073918A43AD0D631800111D0453DB3416D3827C95B81F575B388A6B425E39AC49BCDC2DC8A57AD2207DC726E78544525A83AB4FE08" decryptionKey="245EDC5AAF1F32D0087178F7409370AF0A2C1FDDE1240212C73604E0DE509029" validation="SHA1" decryption="AES" />
  <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
    </httpModules></system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
    <staticContent>
      <remove fileExtension=".woff" />
      <!-- In case IIS already has this mime type -->
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
    </staticContent>   
  <validation validateIntegratedModeConfiguration="false" /><modules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
    </modules></system.webServer>  
  <system.net>
    <mailSettings>
      <!-- SMTP server credentials -->
      <smtp from="aib@valuescompetition.com">
        <network enableSsl="true" host="email-smtp.eu-west-1.amazonaws.com" port="587" password="AkUK2pScW+v4ewGFLMe/P07btl3/UeFOybO72R5jUL3x" userName="AKIAJGCED5UQT5EBPDYQ" />
      </smtp>
    </mailSettings>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MongoDB.Bson" publicKeyToken="f686731cfb9cc103" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.9.0.200" newVersion="1.9.0.200" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MongoDB.Driver" publicKeyToken="f686731cfb9cc103" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.9.0.200" newVersion="1.9.0.200" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <elmah>
    <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="elmah" applicationName="BrandValues"/>
    <errorMail from="aib@valuescompetition.com" to="aib@valuescompetition.com" async="true" smtpPort="0" useSsl="true" />
    <security allowRemoteAccess="1"/>
  </elmah>
</configuration>