<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="AWSProfileName" value="BrandValues" />
    <add key="PARAM1" value="mongodb://mongoadmin:C00doma1n@ec2-54-76-57-125.eu-west-1.compute.amazonaws.com,ec2-54-72-102-26.eu-west-1.compute.amazonaws.com,ec2-54-77-12-48.eu-west-1.compute.amazonaws.com/?connect=replicaset" />
    <add key="PARAM2" value="brandvalues" />
    <add key="S3AWSAccessKey" value="AKIAJVYZYGONVSKGZKLQ"/>
    <add key="S3AWSSecretKey" value="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" />
    <add key="AWSRegion" value="eu-west-1" />
  </appSettings>
  <system.web>
    <customErrors mode="RemoteOnly" defaultRedirect="~/Error.html" redirectMode="ResponseRewrite" />
    <httpCookies httpOnlyCookies="true" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" enableVersionHeader="false" />
  </system.web>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".woff" />
      <!-- In case IIS already has this mime type -->
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
    </staticContent>   
  </system.webServer>  
  <system.net>
    <mailSettings>
      <!-- SMTP server credentials -->
      <smtp from="aib@valuescompetition.com">
        <network enableSsl="true" host="email-smtp.eu-west-1.amazonaws.com" port="587" password="AkUK2pScW+v4ewGFLMe/P07btl3/UeFOybO72R5jUL3x" userName="AKIAJGCED5UQT5EBPDYQ" />
      </smtp>
    </mailSettings>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MongoDB.Bson" publicKeyToken="f686731cfb9cc103" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.9.0.200" newVersion="1.9.0.200" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MongoDB.Driver" publicKeyToken="f686731cfb9cc103" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.9.0.200" newVersion="1.9.0.200" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>