
<div class="panel-group margin-bottom-10 left" id="accordion">
    <div class="item pos-rlt">
        <img class="img-full" src="https://d3kx2j4tswsg1z.cloudfront.net/homepage/box-compass-ie.png" alt="Values Competition Logo">
    </div>

    <a data-ajax="true" data-ajax-loading="#mainLoading" data-ajax-mode="replace" data-ajax-update="#result" href="~/Home/IntroV3">
        <div class="panel-heading menu-panel">
            <span class="timeline-date white">Home</span>

        </div>
    </a>

    <a data-ajax="true" data-ajax-loading="#mainLoading" data-ajax-mode="replace" data-ajax-update="#result" href="~/Home/HowItWorks">
        <div class="panel-heading menu-panel">
            <span class="timeline-date white">How the competition works</span>

        </div>
    </a>

    <a data-ajax="true" data-ajax-loading="#mainLoading" data-ajax-mode="replace" data-ajax-update="#result" href="~/Home/Prizes">
        <div class="panel-heading menu-panel">

            <span class="timeline-date white">What prizes are up for grabs?</span>

        </div>
    </a>

    <a data-ajax="true" data-ajax-loading="#mainLoading" data-ajax-mode="replace" data-ajax-update="#result" href="~/Home/BrandValues">
        <div class="panel-heading menu-panel">

            <span class="timeline-date white">A reminder of the AIB brand values </span>

        </div>
    </a>

    <a data-ajax="true" data-ajax-loading="#mainLoading" data-ajax-mode="replace" data-ajax-update="#result" href="~/Home/faqs">
        <div class="panel-heading menu-panel">

            <span class="timeline-date white">All your questions answered… </span>

        </div>
    </a>

    <hr class="small-hr" />

    <a href="~/Home/Browse">
        <div class="panel-heading menu-panel menu-panel-orange">

            <span class="timeline-date white">Click here to view all entries</span>

        </div>
    </a>


    <script>
        $("a").click(function () {
            $("a").find("div").removeClass("menuhover");
            $(this).find("div").toggleClass("menuhover");
        });
    </script>
</div>