<div id="header">
    <div class="span-6">
        <a href="~/home/" class="left">
            <img src="~/images/logo-ie.png" alt="AIB Brand Values">
        </a>
    </div>

    <div class="span-12">
        <ul id="links">
            <li>
                <a href="~/home">
                    <i class="icon-grid icon"></i>
                    <span>Home</span>
                </a>
            </li>
            <li>
                <a href="~/home/browse">
                    <i class="icon-grid icon"></i>
                    <span>Browse</span>
                </a>
            </li>
            <li>
                <a href="~/home/upload">
                    <i class="icon-cloud-upload icon  "></i>
                    <span>Upload</span>
                </a>
            </li>
            <li>
                <a href="~/home/entry">
                    <i class="icon-pencil icon"></i>
                    <span>Edit</span>
                </a>
            </li>
            <li>
                <a href="~/home/faq">
                    <i class="icon-info icon"></i>
                    <span>FAQ's</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="top-padding last inline">


        @Html.Partial("_LoginPartial")

    </div>

</div>