<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
          "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <title>@ViewBag.Title</title>

    <link href="~/Content/webapp/images/icons/favicon.ico" rel="shortcut icon" type="image/x-icon">

    @Styles.Render("~/Bundles/ie6css")

    <!--[if lt IE 9]>
      <script src="https://d3kx2j4tswsg1z.cloudfront.net/ie/html5shiv.js"></script>
      <script src="https://d3kx2j4tswsg1z.cloudfront.net/ie/respond.min.js"></script>
      <script src="https://d3kx2j4tswsg1z.cloudfront.net/ie/excanvas.js"></script>
    <![endif]-->

    <script src="~/Scripts/webapp/jquery.min.js"></script>

</head>
    <body>
        <div class="container">
        <div id="logincontent">
            @RenderBody()
        </div>
        </div>


            @*@Scripts.Render("~/Bundles/account")*@

            @RenderSection("scripts", required: false)

            <script>
                (function (i, s, o, g, r, a, m) {
                    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new Date(); a = s.createElement(o),
                        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
                })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

                ga('create', 'UA-41233555-3', 'auto');
                ga('send', 'pageview');

            </script>

</body>
</html>

