@using Microsoft.AspNet.Identity

    @*<a href="#" class="dropdown-toggle bg clear" data-toggle="logindropdown">
        @this.User.Identity.GetUserName() <b class="caret"></b>
    </a>*@
    


        <li>
            <a href="~/Manage">
                <i class="icon-user icon  "></i>
                <span class="hidden-desktop">@User.Identity.GetUserName()</span>
            </a>
        </li>

        @*<li>
            @Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>*@

        <li>
            <a href="javascript:document.getElementById('logoutForm').submit()">
                <i class="icon-close icon  "></i>
                <span class="hidden-desktop">Log off</span>
            </a>
        </li>


        @if (Request.IsAuthenticated)
        {
            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
            {
                @Html.AntiForgeryToken()


            }
        }
  
