<div class="m-t-xl m-b clearfix animated fadeInLeft">

    <span class="h3 font-thin">A reminder of the AIB Brand Values</span>
    <hr />
    <div class="clear"></div>

    <div class="row">

        <div class="col-lg-6 center">

            <img src="~/images/compass-large.png" alt="Brand Values Compass" />
        </div>


        <div class="col-lg-6">
            <p>
                In service-led companies like AIB, we don’t sell tangible products like cans of coke, instead we offer our customers a service promise. How we deliver on that service promise is what has the biggest impact on the strength of our brand in the eyes of the customer.
            </p>
            <p>
                Brand values are a critical component of our brand because they act as a compass for us to ensure that whatever we promise externally is delivered consistently internally. They are a key way of creating the culture we want to support our vision and the delivery of our strategy.
            </p>
            <p>
                A good set of brand values should reflect where we are at the moment when we’re at out best, and the company we want to become.  So it was only right that you and your colleagues along with our customers helped to build and shape them. We did this through a brand survey, workshops, interviews and the brand jam.
            </p>
            <p>
                Imagine how our customers will feel about us, if we consistently put them first, we simplified things and we worked together internally across departments in a seamless way.
            </p>
        </div>
    </div>


        <hr />
    
        <span class="h4 font-thin">Here’s a little more on how we want to live each one</span>

    <hr />

    <div class="row">
        <div class="col-lg-6">
            By
            <ul>
                <li>Getting to know them, listening to them and understanding their needs</li>
                <li>Making decisions based on what's most useful to them and taking personal accountability to follow through</li>
                <li>Asking ourselves no matter where we work in the organisation, is what I am doing adding value to the customer?</li>
                <li>Doing what we say so they believe in us</li>
                <li>Delighting them through excellent service</li>
                <li>Doing the right thing and treating them fairly</li>
            </ul>
        </div>

        <div class="col-lg-6 center">
            <img src="~/images/values/customer.png" alt="We put our customers first" />
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-lg-6 center">
            <img src="~/images/values/trust.png" alt="We are building trust and appreciation" />
        </div>
        <div class="col-lg-6">
            By
            <ul>
                <li>Being open, honest and ethical with colleagues and customers </li>
                <li>Keeping our promises and when we can't, managing expectations </li>
                <li>Inviting feedback in and being open to hearing it </li>
                <li>Being positive and focusing first on what's working well </li>
                <li>Taking every opportunity to recognise other people for doing a great job and valuing their strengths </li>
                <li>Valuing people for their contribution and experience and not for their seniority</li>
                <li>Making an effort to deeply understand the views of others</li>
            </ul>
        </div>


    </div>

    <hr />

    <div class="row">
        <div class="col-lg-6">
            By
            <ul>
                <li>Believing in our colleagues, trusting them to do what’s right and ethical and finding ways to build their confidence </li>
                <li>Acting with courage to challenge the norm and finding better ways of doing things</li>
                <li>Creating an environment together where it's ok to make mistakes as long as we learn from them </li>
                <li>Making sure people are clear on what is expected of them and that they use the freedom they are being given to get on with it</li>
                <li>Giving people in the team ownership of tasks, the freedom to deliver them and your help and support along the way</li>
                <li>Believing in yourself and having the courage of your convictions </li>
                <li>Acting with energy and pace to make decisions faster </li>
            </ul>
        </div>

        <div class="col-lg-6 center">
            <img src="~/images/values/empowering.png" alt="We are empowering" />
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-lg-6 center">
            <img src="~/images/values/simple.png" alt="We keep it simple" />
        </div>
        <div class="col-lg-6">
            By
            <ul>
                <li>Actively looking for ways to make each customer experience easier and better</li>
                <li>Making the complex simple where we can, by making things clearer and easier to understand </li>
                <li>Streamlining internal processes so we can focus more time and energy on delighting our customers </li>
                <li>Communicating in a way that's to the point and free from jargon </li>
                <li>Using common sense to do the right thing </li>
                <li>Cutting through bureaucracy </li>
            </ul>
        </div>


    </div>

    <hr />

    <div class="row">
        <div class="col-lg-6">
            By
            <ul>
                <li>Working together as one team for the common good of AIB</li>
                <li>Supporting each other and actively sharing our ideas and experience </li>
                <li>Actively seeking out new ideas and different perspectives and be open to those that come your way</li>
                <li>Collaborating on the right things with the customer as our guiding focus </li>
                <li>Working together with clear accountability to do the right thing for our customers</li>
            </ul>
        </div>

        <div class="col-lg-6 center">
            <img src="~/images/values/together.png" alt="We are better together" />
        </div>
    </div>

    <hr />

    <a href="" target="_blank">Click here</a> to save a print friendly version of what each of the Brand Values mean


        <hr />
        <div class="hidden-desktop">
            <a class="btn btn-default" href="#content">Top of page</a>
        </div>

    </div>

