<div class="m-t-xl m-b clearfix animated fadeInLeft">

    <span class="h3 font-thin">A reminder of the AIB Brand Values</span>
    <hr />
    <div class="clear">
        <p>
            Awaiting text..
        </p>
    </div>

</div>

