<div class="m-t-xl m-b clearfix animated fadeInLeft">

    <span class="h3 font-thin">A reminder of the AIB Brand Values</span>
    <hr />
    <div class="clear">
        <p>
            Awaiting text..
        </p>
    </div>
    <hr />
    <div class="hidden-desktop">
        <a class="btn btn-default" href="#content">Top of page</a>
    </div>

</div>

