@model BrandValues.Entries.Entry
<div id="comments-result">
    @foreach (var comment in Model.Comments.OrderByDescending(x => x.CreatedOn))
    {
        <div class="col-xs-10 margin-bottom">
            <p class="left">
                <span class="h4 font-thin">@comment.UserFirstName @comment.UserSurname, @comment.UserArea</span><br />
            <p class="m-b">@comment.Comment</p>
            </p>
        </div>
    }

</div>
