@model BrandValues.Entries.Entry
<div id="comments-result">
    @foreach (var comment in Model.Comments.OrderByDescending(x => x.CreatedOn))
{
    <div class="col-xs-10 margin-bottom-10">
        <p class="left">
            <blockquote>
        <p>@comment.Comment</p>
        <footer class="text-primary">@comment.UserFirstName @comment.UserSurname, @comment.UserArea</footer>
        </blockquote>
        </p>
    </div>
}

</div>
