<div class="m-b clearfix animated fadeInLeft">

    <div class="panel b-a">
        <div class="panel-heading b-b">All your questions answered</div>
        <div class="panel-body">
            <div class="h3 m-b font-thin purple">About the competition</div>
            <hr />
            <div class="row">
                <div class="col-sm-8">

                    <div class="panel-group" id="about-accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title purple">
                                    <a data-toggle="collapse" data-parent="#about-accordion" href="#aboutOne">
                                        Why are we running a brand values competition?
                                    </a>
                                </h4>
                            </div>
                            <div id="aboutOne" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Following the local brand activation sessions we wanted to create some fun and excitement bank-wide about the next stage in our brand journey. The brand values we’ve created are a balance between when we’re at our best and the type of company we’re trying to become more like. The competition is here to celebrate the things we already do well!
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title purple">
                                    <a data-toggle="collapse" data-parent="#about-accordion" href="#aboutTwo">
                                        Why are the brand values so important?
                                    </a>
                                </h4>
                            </div>
                            <div id="aboutTwo" class="panel-collapse collapse">
                                <div class="panel-body">
                                    A company’s brand values act as a guiding compass for everything they do internally – when making decisions and when designing things. We have them to ensure we’re aligned in the way we do things otherwise the brand experience for customers will be different everywhere you go. We need a strong brand with a strong understanding of what we stand for in order to help us retain customers and attract new ones.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title purple">
                                    <a data-toggle="collapse" data-parent="#about-accordion" href="#aboutThree">
                                        Who is the competition for?
                                    </a>
                                </h4>
                            </div>
                            <div id="aboutThree" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Everyone in AIB. Whether you’re in Cork, Uxbridge, Belfast or New York everyone working in AIB can take part. You just have to use your AIB or EBS email address to log in.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title purple">
                                    <a data-toggle="collapse" data-parent="#about-accordion" href="#aboutFour">
                                        How long is the competition open for?
                                    </a>
                                </h4>
                            </div>
                            <div id="aboutFour" class="panel-collapse collapse">
                                <div class="panel-body">
                                    The competition is open for 6 weeks between 27 August and 8 October.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title purple">
                                    <a data-toggle="collapse" data-parent="#about-accordion" href="#aboutFive">
                                        I missed my brand activation session - can I take part still?
                                    </a>
                                </h4>
                            </div>
                            <div id="aboutFive" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Yes of course. It’s important you try and go to a ‘mop up’ brand activation session. If you can’t or you’ve missed them all, ask your leader or someone in your team to run through it with you – it’s important you understand it. We have a toolkit of activation materials you can also view.
                                </div>
                            </div>
                        </div>
                    </div>


                    @*<div class="h4 m-b purple">Why are we running a brand values competition?</div>
            <p class="m-b-lg text-muted">Following the local brand activation sessions we wanted to create some fun and excitement bank-wide about the next stage in our brand journey. The brand values we’ve created are a balance between when we’re at our best and the type of company we’re trying to become more like. The competition is here to celebrate the things we already do well!</p>

            <div class="h4 m-b purple">Why are the brand values so important?</div>
            <p class="m-b-lg text-muted">A company’s brand values act as a guiding compass for everything they do internally – when making decisions and when designing things. We have them to ensure we’re aligned in the way we do things otherwise the brand experience for customers will be different everywhere you go. We need a strong brand with a strong understanding of what we stand for in order to help us retain customers and attract new ones.</p>

            <div class="h4 m-b purple">Who is the competition for?</div>
            <p class="m-b-lg text-muted">Everyone in AIB. Whether you’re in Cork, Uxbridge, Belfast or New York everyone working in AIB can take part. You just have to use your AIB or EBS email address to log in.</p>

            <div class="h4 m-b purple">How long is the competition open for?</div>
            <p class="m-b-lg text-muted">The competition is open for 6 weeks between 27 August and 8 October.</p>

            <div class="h4 m-b purple">I missed my brand activation session - can I take part still?</div>
            <p class="m-b-lg text-muted">Yes of course. It’s important you try and go to a ‘mop up’ brand activation session. If you can’t or you’ve missed them all, ask your leader or someone in your team to run through it with you – it’s important you understand it. We have a toolkit of activation materials you can also view. </p>*@


                </div>
                <div class="col-sm-4">
                    <div class="h4 m-b font-thin text-warning">Queries</div>
                    <p class="m-b-xs">If the answer to your question isn’t listed here, please ask us at: <a class="text-info" href="mailto:brand.values@aib.ie?Subject=General%20Query">brand.values@aib.ie</a></p>

                </div>
            </div>
            <hr />
            <div class="h3 m-b font-thin text-primary">Entering the competition</div>
            <hr />
            <div class="row">
                <div class="col-sm-8">


                    <div class="panel-group" id="entering-accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title text-primary">
                                    <a data-toggle="collapse" data-parent="#entering-accordion" href="#enteringOne">
                                        Who’s allowed to enter?
                                    </a>
                                </h4>
                            </div>
                            <div id="enteringOne" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Anyone and everyone working in AIB either as an individual or as part of a team.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title text-primary">
                                    <a data-toggle="collapse" data-parent="#entering-accordion" href="#enteringTwo">
                                        How many people are classed as ‘a team’?
                                    </a>
                                </h4>
                            </div>
                            <div id="enteringTwo" class="panel-collapse collapse">
                                <div class="panel-body">
                                    We didn’t want to restrict this too much but we would advise a team to be classed as 3 – 15 people.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title text-primary">
                                    <a data-toggle="collapse" data-parent="#entering-accordion" href="#enteringThree">
                                        Can I enter more than once?
                                    </a>
                                </h4>
                            </div>
                            <div id="enteringThree" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Yes you can put in as many entries as you like, but remember it’s about quality not quantity – check out our top tips to create a winning entry on the site.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title text-primary">
                                    <a data-toggle="collapse" data-parent="#entering-accordion" href="#enteringFour">
                                        Can I enter as an individual and as part of a team?
                                    </a>
                                </h4>
                            </div>
                            <div id="enteringFour" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Yes you can enter both.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title text-primary">
                                    <a data-toggle="collapse" data-parent="#entering-accordion" href="#enteringFive">
                                        Can I edit my entry once I’ve uploaded it?
                                    </a>
                                </h4>
                            </div>
                            <div id="enteringFive" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Yes you can, @Html.ActionLink("click here", "Entry") to edit your entries. Once you’ve uploaded an entry you’ll notice there is an ‘edit’ button in the top navigation of the competition site where you can edit your entry.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title text-primary">
                                    <a data-toggle="collapse" data-parent="#entering-accordion" href="#enteringSix">
                                        Do I have to enter on-line?
                                    </a>
                                </h4>
                            </div>
                            <div id="enteringSix" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Yes all entries need to be submitted on the competition site but don’t forget you can upload photos and films if you’ve created something physical. If you’re struggling to upload your entry, just get in touch with us at <a href="mailto:aib@valuescompetition.com?Subject=Problems%20uploading">aib@valuescompetition.com</a> and we’ll help you out.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title text-primary">
                                    <a data-toggle="collapse" data-parent="#entering-accordion" href="#enteringSeven">
                                        When’s the latest I can submit an entry?
                                    </a>
                                </h4>
                            </div>
                            <div id="enteringSeven" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Close of business on 8 October which ever time zone you’re in.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title text-primary">
                                    <a data-toggle="collapse" data-parent="#entering-accordion" href="#enteringEight">
                                        Can I enter by demonstrating two of the brand values or does it need to be either one or them of them?
                                    </a>
                                </h4>
                            </div>
                            <div id="enteringEight" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Yes of course, you won’t get more ‘points’ for demonstrating more as we’re looking for quality rather than quantity.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title text-primary">
                                    <a data-toggle="collapse" data-parent="#entering-accordion" href="#enteringNine">
                                        Am I allowed to enter material (video / image) that features other people?
                                    </a>
                                </h4>
                            </div>
                            <div id="enteringNine" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Yes of course, whether you’re entering as an individual or as a team, other people can feature in your competition entry but please ensure you have the permission of those involved so you know that they are comfortable with you using the footage / image of them.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title text-primary">
                                    <a data-toggle="collapse" data-parent="#entering-accordion" href="#enteringTen">
                                        Once I’ve submitted my entry, can other people enter the competition using the same action / concept / idea as me?
                                    </a>
                                </h4>
                            </div>
                            <div id="enteringTen" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Yes of course, whether you’re entering as an individual or as a team, other people can feature in your competition entry but please ensure you have the permission of those involved so you know that they are comfortable with you using the footage / image of them.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title text-primary">
                                    <a data-toggle="collapse" data-parent="#entering-accordion" href="#enteringEleven">
                                        Do I own the intellectual property of my submission?
                                    </a>
                                </h4>
                            </div>
                            <div id="enteringEleven" class="panel-collapse collapse">
                                <div class="panel-body">
                                    By entering the competition during your employment at AIB, the intellectual property rights belong to AIB. You won’t own the copyright on the content of your entry either as AIB would like to be able to use it in other forms of communication to inspire others on how to live the values. We’ll of course check with you first if we’re using it across the whole bank.
                                </div>
                            </div>
                        </div>
                    </div>


                    @*<div class="h4 m-b text-primary">Who’s allowed to enter?</div>
            <p class="m-b-lg text-muted">Anyone and everyone working in AIB either as an individual or as part of a team.</p>

            <div class="h4 m-b text-primary">How many people are classed as ‘a team’?</div>
            <p class="m-b-lg text-muted">We didn’t want to restrict this too much but we would advise a team to be classed as 3 – 15 people. </p>

            <div class="h4 m-b text-primary">Can I enter more than once?</div>
            <p class="m-b-lg text-muted">Yes you can put in as many entries as you like, but remember it’s about quality not quantity – check out our top tips to create a winning entry on the site.</p>

            <div class="h4 m-b text-primary">Can I enter as an individual and as part of a team?</div>
            <p class="m-b-lg text-muted">Yes you can enter both.</p>

            <div class="h4 m-b text-primary">Can I edit my entry once I’ve uploaded it?</div>
            <p class="m-b-lg text-muted">Yes you can, @Html.ActionLink("click here", "Entry") to edit your entries. Once you’ve uploaded an entry you’ll notice there is an ‘edit’ button in the top navigation of the competition site where you can edit your entry.</p>

            <div class="h4 m-b text-primary">Do I have to enter on-line?</div>
            <p class="m-b-lg text-muted">Yes all entries need to be submitted on the competition site but don’t forget you can upload photos and films if you’ve created something physical. If you’re struggling to upload your entry, just get in touch with us at <a href="mailto:aib@valuescompetition.com?Subject=Problems%20uploading">aib@valuescompetition.com</a> and we’ll help you out.</p>

            <div class="h4 m-b text-primary">When’s the latest I can submit an entry?</div>
            <p class="m-b-lg text-muted">Close of business on 8 October which ever time zone you’re in.</p>

            <div class="h4 m-b text-primary">Can I enter by demonstrating two of the brand values or does it need to be either one or them of them?</div>
            <p class="m-b-lg text-muted">Yes of course, you won’t get more ‘points’ for demonstrating more as we’re looking for quality rather than quantity.</p>

            <div class="h4 m-b text-primary">Am I allowed to enter material (video / image) that features other people?</div>
            <p class="m-b-lg text-muted">Yes of course, whether you’re entering as an individual or as a team, other people can feature in your competition entry but please ensure you have the permission of those involved so you know that they are comfortable with you using the footage / image of them.</p>

            <div class="h4 m-b text-primary">Once I’ve submitted my entry, can other people enter the competition using the same action / concept / idea as me? </div>
            <p class="m-b-lg text-muted">Yes they can. As you can imagine, there’s bound to be lots of people across the bank with similar ideas and demonstrations of how they live the values, there’s bound to be overlap and it’s actually encouraging if there is. The entry who showcases it in the most compelling and creative way will have greater chance of winning. But ultimately it will come down to the votes.</p>

            <div class="h4 m-b text-primary">Do I own the intellectual property of my submission?</div>
            <p class="m-b-lg text-muted">By entering the competition during your employment at AIB, the intellectual property rights belong to AIB. You won’t own the copyright on the content of your entry either as AIB would like to be able to use it in other forms of communication to inspire others on how to live the values. We’ll of course check with you first if we’re using it across the whole bank.</p>*@



                </div>
                <div class="col-sm-4">
                </div>
            </div>
            <hr />
            <div class="h3 m-b font-thin text-success">Using the site and getting involved</div>
            <hr />
            <div class="row">
                <div class="col-sm-8">

                    <div class="panel-group" id="using-accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title text-success">
                                    <a data-toggle="collapse" data-parent="#using-accordion" href="#usingOne">
                                        Where can I access the site?
                                    </a>
                                </h4>
                            </div>
                            <div id="usingOne" class="panel-collapse collapse">
                                <div class="panel-body">
                                    You can access the competition site at work, on a mobile device (that you can access the internet on) or at home. All you need is your log on details and you can access it anywhere, anytime.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title text-success">
                                    <a data-toggle="collapse" data-parent="#using-accordion" href="#usingTwo">
                                        How can we enter by film when AIB doesn’t have video functionality?
                                    </a>
                                </h4>
                            </div>
                            <div id="usingTwo" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Unfortunately we don’t currently have functionality for film on all desktops – we will do in the future with the improvements that Project Edge will bring – but as you can access the site at home or on a mobile device you can enter by film and watch other people’s films that way.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title text-success">
                                    <a data-toggle="collapse" data-parent="#using-accordion" href="#usingThree">
                                        How many entries can I give a ‘thumbs up’ to and comment on?
                                    </a>
                                </h4>
                            </div>
                            <div id="usingThree" class="panel-collapse collapse">
                                <div class="panel-body">
                                    As many as you like.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title text-success">
                                    <a data-toggle="collapse" data-parent="#using-accordion" href="#usingFour">
                                        How many times can I vote for an entry I want to win?
                                    </a>
                                </h4>
                            </div>
                            <div id="usingFour" class="panel-collapse collapse">
                                <div class="panel-body">
                                    When the entries are shortlisted there will be five individual entries and five team entries you can vote for on-line. You will be allowed to vote once for your favourite individual entry and once for your favourite team entry.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title text-success">
                                    <a data-toggle="collapse" data-parent="#using-accordion" href="#usingFive">
                                        Can I vote for my/our own entry?
                                    </a>
                                </h4>
                            </div>
                            <div id="usingFive" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Yes but only once.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title text-success">
                                    <a data-toggle="collapse" data-parent="#using-accordion" href="#usingSix">
                                        What are you using the poll responses for?
                                    </a>
                                </h4>
                            </div>
                            <div id="usingSix" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Yes all entries need to be submitted on the competition site but don’t forget you can upload photos and films if you’ve created something physical. If you’re struggling to upload your entry, just get in touch with us at <a href="mailto:aib@valuescompetition.com?Subject=Problems%20uploading">aib@valuescompetition.com</a> and we’ll help you out.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title text-success">
                                    <a data-toggle="collapse" data-parent="#using-accordion" href="#usingSeven">
                                        We’re not allowed mobile devices at our desks – when can I get involved?
                                    </a>
                                </h4>
                            </div>
                            <div id="usingSeven" class="panel-collapse collapse">
                                <div class="panel-body">
                                    If you’re not allowed to use mobile devices during work hours we’d encourage you to check the site during breaks or in your free time. You can of course access the site on your work computer.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title text-success">
                                    <a data-toggle="collapse" data-parent="#using-accordion" href="#usingEight">
                                        How long does my entry stay on-line for after the competition closes?
                                    </a>
                                </h4>
                            </div>
                            <div id="usingEight" class="panel-collapse collapse">
                                <div class="panel-body">
                                    We’ll keep the entries up on the site for four weeks after the competition closes and then we will take them off the site and store them in an archive.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title text-success">
                                    <a data-toggle="collapse" data-parent="#using-accordion" href="#usingNine">
                                        Can other people outside AIB access this site?
                                    </a>
                                </h4>
                            </div>
                            <div id="usingNine" class="panel-collapse collapse">
                                <div class="panel-body">
                                    No, absolutely not. We’ve password protected the site to ensure only AIB employees can access the site. We have used an external website to build something as fun and impressive as we could, but access is restricted.
                                </div>
                            </div>
                        </div>
                    </div>

                    @*<div class="h4 m-b text-success">Where can I access the site?</div>
            <p class="m-b-lg text-muted">You can access the competition site at work, on a mobile device (that you can access the internet on) or at home. All you need is your log on details and you can access it anywhere, anytime. </p>

            <div class="h4 m-b text-success">How can we enter by film when AIB doesn’t have video functionality?</div>
            <p class="m-b-lg text-muted">Unfortunately we don’t currently have functionality for film on all desktops – we will do in the future with the improvements that Project Edge will bring – but as you can access the site at home or on a mobile device you can enter by film and watch other people’s films that way.</p>

            <div class="h4 m-b text-success">How many entries can I give a ‘thumbs up’ to and comment on?</div>
            <p class="m-b-lg text-muted">As many as you like.</p>

            <div class="h4 m-b text-success">How many times can I vote for an entry I want to win?</div>
            <p class="m-b-lg text-muted">When the entries are shortlisted there will be five individual entries and five team entries you can vote for on-line. You will be allowed to vote once for your favourite individual entry and once for your favourite team entry.</p>

            <div class="h4 m-b text-success">Can I vote for my/our own entry?</div>
            <p class="m-b-lg text-muted">Yes but only once.</p>

            <div class="h4 m-b text-success">What are you using the poll responses for?</div>
            <p class="m-b-lg text-muted">The polls are there as we’re interested to know what you think about our values and the activation sessions and we hope they will help you to interact with the site.</p>

            <div class="h4 m-b text-success">We’re not allowed mobile devices at our desks – when can I get involved?</div>
            <p class="m-b-lg text-muted">If you’re not allowed to use mobile devices during work hours we’d encourage you to check the site during breaks or in your free time. You can of course access the site on your work computer.</p>

            <div class="h4 m-b text-success">How long does my entry stay on-line for after the competition closes?</div>
            <p class="m-b-lg text-muted">We’ll keep the entries up on the site for four weeks after the competition closes and then we will take them off the site and store them in an archive.</p>

            <div class="h4 m-b text-success">Can other people outside AIB access this site?</div>
            <p class="m-b-lg text-muted">No, absolutely not. We’ve password protected the site to ensure only AIB employees can access the site. We have used an external website to build something as fun and impressive as we could, but access is restricted.</p>*@



                </div>
                <div class="col-sm-4">
                </div>
            </div>
            <hr />
            <div class="h3 m-b font-thin text-warning">Winners and prizes</div>
            <hr />
            <div class="row">
                <div class="col-sm-8">


                    <div class="panel-group" id="prizes-accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title text-warning">
                                    <a data-toggle="collapse" data-parent="#prizes-accordion" href="#prizesOne">
                                        Who is choosing the winners?
                                    </a>
                                </h4>
                            </div>
                            <div id="prizesOne" class="panel-collapse collapse">
                                <div class="panel-body">
                                    We have a judging panel lined up to shortlist all the entries down to the best five individual entries and the five best team entries then you will be picking the winners. The judging panel will be a mix of people from different business areas in AIB and at different levels. We’ll also have a judge from IBOA – our union partner. All AIB staff will be able to vote on who the winners should be.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title text-warning">
                                    <a data-toggle="collapse" data-parent="#prizes-accordion" href="#prizesTwo">
                                        When will we find out if we’ve won?
                                    </a>
                                </h4>
                            </div>
                            <div id="prizesTwo" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Winners will be announced on 27 October.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title text-warning">
                                    <a data-toggle="collapse" data-parent="#prizes-accordion" href="#prizesThree">
                                        During the voting period will there be a leader board so we can see who’s in the lead?
                                    </a>
                                </h4>
                            </div>
                            <div id="prizesThree" class="panel-collapse collapse">
                                <div class="panel-body">
                                    No - we want to keep the suspense going throughout the whole competition so you won’t know until the winners are announced on 27 October.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title text-warning">
                                    <a data-toggle="collapse" data-parent="#prizes-accordion" href="#prizesFour">
                                        What are the prizes going to be?
                                    </a>
                                </h4>
                            </div>
                            <div id="prizesFour" class="panel-collapse collapse">
                                <div class="panel-body">
                                    There’s a page on winners on the site so do take a look. The individual winner will get an Apple iPad or a similar item that suits them better, and the team prize will be a team experience of their choice.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title text-warning">
                                    <a data-toggle="collapse" data-parent="#prizes-accordion" href="#prizesFive">
                                        What will happen to the winners entries after the competition?
                                    </a>
                                </h4>
                            </div>
                            <div id="prizesFive" class="panel-collapse collapse">
                                <div class="panel-body">
                                    We want to use them as brand collateral in the offices to inspire others to live the values but we won’t do this without first asking your permission. And we’ll of course keep all the entries in an AIB archive.
                                </div>
                            </div>
                        </div>
                    </div>


                    @*<div class="h4 m-b text-warning">Who is choosing the winners?</div>
            <p class="m-b-lg text-muted">We have a judging panel lined up to shortlist all the entries down to the best five individual entries and the five best team entries then you will be picking the winners. The judging panel will be a mix of people from different business areas in AIB and at different levels. We’ll also have a judge from IBOA – our union partner. All AIB staff will be able to vote on who the winners should be. </p>

            <div class="h4 m-b text-warning">When will we find out if we’ve won?</div>
            <p class="m-b-lg text-muted">Winners will be announced on 27 October.</p>

            <div class="h4 m-b text-warning">During the voting period will there be a leader board so we can see who’s in the lead?</div>
            <p class="m-b-lg text-muted">No - we want to keep the suspense going throughout the whole competition so you won’t know until the winners are announced on 27 October.</p>

            <div class="h4 m-b text-warning">What are the prizes going to be?</div>
            <p class="m-b-lg text-muted">There’s a page on winners on the site so do take a look. The individual winner will get an Apple iPad or a similar item that suits them better, and the team prize will be a team experience of their choice.</p>

            <div class="h4 m-b text-warning">What will happen to the winners entries after the competition?</div>
            <p class="m-b-lg text-muted">We want to use them as brand collateral in the offices to inspire others to live the values but we won’t do this without first asking your permission. And we’ll of course keep all the entries in an AIB archive.</p>*@


                </div>
                <div class="col-sm-4">
                </div>
            </div>
            <hr />
            <p>As part of the design of the competition we engaged with our legal, tax, data security and IT teams to ensure the competition complies with the necessary rules and regulations.</p>

        </div>
    </div>
    <hr />
    <div class="hidden-desktop">
        <a class="btn btn-default" href="#content">Top of page</a>
    </div>



</div>

