<div class="m-t-xl m-b clearfix animated fadeInLeft">

    <span class="h3 font-thin">How the competition works</span>
    <hr />
    <div class="clear">
        <p>
            We hope you all enjoyed your local brand activation sessions and are feeling energised and positive about the progression of our brand journey.

            Following our activation sessions, the brand values competition sets about looking for AIBers who can demonstrate how they live one or all of our new brand values already.
        </p>
        <ul>
            <li>We put our customers first</li>
            <li>We are empowering</li>
            <li>We are building trust and appreciation</li>
            <li>We keep things simple</li>
            <li>We are better together</li>
        </ul>
        <p>
            Which one of these values are you great at living? Or perhaps your team embody all of these values? Well it’s time to share and inspire your colleagues with how you do it.

            To enter the competition and be in with a chance of winning a prize all you need to do is:
        </p>
        <ol>
            <li>Decide if you’d like to enter as an individual or as part of a team</li>
            <li>Select the value or value(s) you think you live well</li>
            <li>Come up with a creative way to demonstrate how you embody this value(s) – this could be in the form of a film, a photo, a story, a poem or even a song! The more creative the better</li>
            <li>Come up with a name for your entry and submit it @Html.ActionLink("here", "Upload", "Home", new { @class = "text-info" }) on-line.</li>
        </ol>
        <p>
            As entries come in they’ll be displayed on this site and your colleagues will be able to give you a thumbs up and write positive comments about why they like your entry so you can create fans as you go.
        </p>
        <p>
            Between 27 August and 8 October the competition will be open for people to enter, that’s six weeks. Then on 8 October, our judging panel will shortlist the entries down to ten – five individual entries and five team entries. The shortlisted entries will be posted on the site on 14 October and we’ll all be able to vote on which two entries we think should win. Votes will be counted and the runners up and winners will be announced on 27 October and prizes will be awarded by David Duffy.
        </p>
        <p>
            The good news is, you can access the site from anywhere! At work, on a mobile device or at home. Just remember your log in details and you can check in whenever suits you. You’ll have noticed above that you can enter by film - however until the Edge project delivers video functionality for us internally you won’t be able to upload or play the films in the office but you will of course be able to view them or a smart phone, iPad or a computer at home.
        </p>
    </div>
    <hr />

</div>
