@model IEnumerable<BrandValues.Entries.Entry>

<a href="~/Home/Browse">
    <h4 class="font-thin">Top Trending Entries</h4>
</a>

<div class="row row-sm">

    @Html.Partial("_Trending")

</div>


<div class="row">
    <div class="col-md-7">

        <a href="~/Home/Browse"><h4 class="font-thin">Latest Entries</h4></a>
        <div class="row row-sm">


            @Html.Partial("_Latest")

        </div>
    </div>

    <div class="col-md-5 survey-padding">

        @*<div class="jumbotron b-a bg-white">
                <h1>8th October</h1>
                <p>Closing date for entries..</p>
                <p><a href="~/home/upload" class="btn btn-primary btn-lg menu-panel-purple" role="button">Upload your entry today!</a></p>
            </div>*@

        <div class="jumbotron b-a bg-white">
            <h1 class="purple">Time to shortlist...</h1>
            <p class="normal">
                Our judging panel are now reviewing all entries so we can't accept any more.
                <br /><br />
                The panel will whittle down the entries to the top 5 team entries and the top 5 individual entries.
                <br /><br />
                Voting starts <span class="purple">October 14</span>.
                <br />
                Good luck and thank you to all those who entered!
            </p>
        </div>

    </div>
</div>


