@using BrandValues.Entries
@model BrandValues.Models.ShortlistViewModel


<div class="m-t-xl m-b clearfix animated fadeInLeft">
    

    <div class="row">

        <div class="col-lg-12">
            <span class="h3 font-thin purple">Voting is now closed!</span><br/>
            Votes are being counted. The winners will be announced tomorrow at <span class="purple">12:00</span>.
        </div>


    </div>

    <div class="row row-sm margin-top-20 ">

        @Html.Partial("_ShortListed")

    </div>
</div>




