<div class="m-t-xl m-b clearfix animated fadeInLeft">

    <span class="h3 font-thin purple">What prizes are up for grabs?</span><br/>
    <hr />
    <div class="clear">

    </div>

    <div class="row margin-bottom-20">
        <div class="col-md-6 center">
            <img src="https://d3kx2j4tswsg1z.cloudfront.net/homepage/ipad.jpg" alt="Apple iPad" class="img-thumbnail">
        </div>
        <div class="col-md-6">
            <span class=" h4 font-thin purple">
                If you’re an individual winner you’ll get...
            </span>
            <hr />
            An Apple iPad or if this isn’t something that appeals to you, you can choose another prize that suits you better.
        </div>


    </div>



    <div class="row">
       
        <div class="col-md-6">
            <span class="h4 font-thin purple">If you’re a team winner you’ll get...</span>
            <hr />
            A team experience of your choice. This could be a team meal or outing – something fun that you can all enjoy doing together. Adjustments will of course need to be made depending on the size of your team. We’d recommend a team entry is between 3 - 15 people.
        </div>
        <div class="col-md-6 center">
            <img src="https://d3kx2j4tswsg1z.cloudfront.net/homepage/team.jpg" alt="Team" class="img-thumbnail">
        </div>

    </div>

    <hr />

    <div class="hidden-desktop">
        <a class="btn btn-default" href="#content">Top of page</a>
    </div>

</div>
