<div class="m-t-xl m-b clearfix">

    <span class="h3 font-thin">What prizes are up for grabs?</span>
    <hr />
    <div class="clear">
        <p>
            What sort of competition would this be if we didn’t have prizes? Well luckily we do!
        </p>
    </div>
    <div class="row"></div>
    <div class="col-lg-6">
        <span class=" h4 font-thin text-success">
            If you’re an individual winner you’ll get...
        </span>
        <p>
            <img src="https://d3kx2j4tswsg1z.cloudfront.net/homepage/ipad.jpg" alt="Apple iPad" class="img-thumbnail"><br/>
            A top of the range Apple iPad! Or if this isn’t something that appeals to you (we know you technophobes are out there) you can choose another prize worth the same value that suits you better.
        </p>
    </div>
    <div class="col-lg-6">
        <span class="h4 font-thin text-success">If you’re a team winner you’ll get...</span>
        <p>
            <img src="https://d3kx2j4tswsg1z.cloudfront.net/homepage/team.jpg" alt="Team" class="img-thumbnail"><br />
            A team experience of your choice! This could be a team meal, a spa day, a team outing – something fun that you can all enjoy doing together. Adjustments will of course need to be made depending on the size of your team. We’d recommend a team entry is between 5-15 people.
        </p>
    </div>
    
    Runners up will get a surprise token gift!
    <hr />

</div>
