@using BrandValues.Entries
@model BrandValues.Models.BrowseViewModel

    @{
        ViewBag.Title = "Search";
    }

        <section class="hbox stretch">
            <section>
                <section class="vbox">
                    <section class="scrollable padder-lg w-f-md">
                        <h2 class="font-thin m-b">Search Results</h2>
                        <div class="row row-sm">

                            @Html.Partial("_DisplayEntries")


                        </div>
                    </section>

                    <footer class="footer hidden-xs footer-md bg-black"></footer>
                </section>
            </section>
        </section>
