@model IEnumerable<BrandValues.Entries.Entry>

    @{
        ViewBag.Title = "Search";
    }

        <section class="hbox stretch">
            <section>
                <section class="vbox">
                    <section class="scrollable padder-lg w-f-md">
                        <h2 class="font-thin m-b">Search Results</h2>
                        <div class="row row-sm">

                            @Html.Partial("_DisplayEntries")


                        </div>
                        <ul class="pagination pagination">
                            <li><a href="#"><i class="fa fa-chevron-left"></i></a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#"><i class="fa fa-chevron-right"></i></a></li>
                        </ul>
                    </section>

                    <footer class="footer hidden-xs footer-md bg-black"></footer>
                </section>
            </section>
        </section>
