<div class="m-t-xl m-b clearfix animated fadeInLeft">

    <span class="h3 font-thin">What does a winning entry look like?</span>
    <hr />
    <div class="clear">
        <p>
            Awaiting text..
        </p>
    </div>

</div>
