<div class="m-t-xl m-b clearfix animated fadeInLeft">

    <span class="h3 font-thin purple">What does a winning entry look like? Tips to get you started</span>
    <hr />
    <div class="clear">
        <ol>
            <li class="margin-bottom-10"><span class="purple">Be creative –</span><br/>the more creative the better. Push the boundaries and let your imagination run wild in terms of how you deliver your entry</li>
            <li class="margin-bottom-10"><span class="purple">Quality not quantity -</span><br /> You won’t get more points for the more values you demonstrate or the longer the list of things you do to demonstrate a value, it’s about the quality of what you do even if it’s something small</li>
            <li class="margin-bottom-10"><span class="purple">It’s all about impact –</span><br /> don’t just tell us what you do, tell us about how you do it and the impact it has on the customer or your colleagues others</li>
            <li class="margin-bottom-10"><span class="purple">Keep it simple –</span><br /> be concise, keep it short and sweet. Why not have a look at the AIB tone of voice intranet page to get some tips</li>
            <li class="margin-bottom-10"><span class="purple">Inspire –</span><br /> we want your entries to inspire others to live the values so think about what other colleagues can take from your entry</li>
        </ol>
        <hr />
        Here are a few entries to give you ideas to get started...
    </div>
    <hr />
    <div class="hidden-desktop">
        <a class="btn btn-default" href="#content">Top of page</a>
    </div>


</div>
