@model IEnumerable<BrandValues.Entries.Entry>

    @{
        ViewBag.Title = "Browse";
    }

<div class="span-8 colborder">
    <div class="panel-group margin-bottom-10 left">

        <div class="item pos-rlt">
                <img class="img-full" src="~/images/browse-ie.png" alt="Browse Competition Entries">
        </div>


            <a data-ajax="true" data-ajax-loading="#mainLoading" data-ajax-mode="replace" data-ajax-update="#result" href="~/Home/All" class="list-group-item active">
                <div class="panel-heading menu-panel">


                    <span class="timeline-date white">All the brand values</span>
                
                </div>
            </a>
        
            <a data-ajax="true" data-ajax-loading="#mainLoading" data-ajax-mode="replace" data-ajax-update="#result" href="~/Home/Customers" class="list-group-item">
                <div class="panel-heading menu-panel">
                   
                    <span class="timeline-date white">We put our customers first</span>
                 
                </div>
            </a>
      
            <a data-ajax="true" data-ajax-loading="#mainLoading" data-ajax-mode="replace" data-ajax-update="#result" href="~/Home/Empowering" class="list-group-item">
                <div class="panel-heading menu-panel">
                    
                    <span class="timeline-date white">We are empowering</span>
                   
                </div>
            </a>
       
            <a data-ajax="true" data-ajax-loading="#mainLoading" data-ajax-mode="replace" data-ajax-update="#result" href="~/Home/Trust" class="list-group-item">
                <div class="panel-heading menu-panel">
                   
                    <span class="timeline-date white">We are building trust and appreciation</span>
              
                </div>
            </a>
       
            <a data-ajax="true" data-ajax-loading="#mainLoading" data-ajax-mode="replace" data-ajax-update="#result" href="~/Home/Simple" class="list-group-item">
                <div class="panel-heading menu-panel">
                    
                    <span class="timeline-date white">We keep things simple</span>
                    
                </div>
            </a>
        
            <a data-ajax="true" data-ajax-loading="#mainLoading" data-ajax-mode="replace" data-ajax-update="#result" href="~/Home/Together" class="list-group-item">
                <div class="panel-heading menu-panel">
                   
                    <span class="timeline-date white">We are better together</span>
                 
                </div>
            </a>
      



        <script>
            $("a").click(function () {
                $("a").find("div").removeClass("menuhover");
                $(this).find("div").toggleClass("menuhover");
            });


        </script>

    </div>


</div>


<div class="span-11 last">


    <div id="result" class="left m-t">

        <div id="mainLoading">
            <p align="center">
                <img src="~/images/ajax-loader.gif" alt="" />
        </div>


        @Html.Partial("_DisplayEntries")
    </div>


</div>

