@using BrandValues.Entries
@model BrandValues.Models.BrowseViewModel

    @{
        ViewBag.Title = "Browse";
    }

<div class="span-8 colborder">
    @Html.Partial("_Aside")


</div>


<div class="span-11 last">


    <div id="result" class="left m-t">

        <div id="mainLoading">
            <p align="center">
                <img src="~/images/ajax-loader.gif" alt="" />
        </div>


        @Html.Partial("_DisplayEntries")
    </div>


</div>

