@model IEnumerable<BrandValues.Entries.Entry>

    @{
        ViewBag.Title = "Browse";
    }

    <section id="content">
        <section class="hbox stretch">
            <!-- side content -->
            <aside class="aside bg-light dk" id="sidebar">
                <section class="vbox">
                    <section class="w-f-md scrollable hover animated fadeInUp">
                        <div class="list-group no-radius no-border no-bg m-t-n-xxs m-b-none auto">
                            @*@using (Html.BeginForm())
                                {
                                    <input class="list-group-item" name="@Model.Filters.TypeFilter" value="team" />
                                    <input type="submit" value="Search" />
                                }*@

                            <a data-ajax="true" data-ajax-loading="#mainLoading" data-ajax-mode="replace" data-ajax-update="#result" href="~/Home/All" class="list-group-item active">
                                All Entries
                            </a>
                            <a data-ajax="true" data-ajax-loading="#mainLoading" data-ajax-mode="replace" data-ajax-update="#result" href="~/Home/Customers" class="list-group-item">
                                We put our customers first
                            </a>
                            <a data-ajax="true" data-ajax-loading="#mainLoading" data-ajax-mode="replace" data-ajax-update="#result" href="~/Home/Empowering" class="list-group-item">
                                We are empowering
                            </a>
                            <a data-ajax="true" data-ajax-loading="#mainLoading" data-ajax-mode="replace" data-ajax-update="#result" href="~/Home/Trust" class="list-group-item">
                                We are building trust and appreciation
                            </a>
                            <a data-ajax="true" data-ajax-loading="#mainLoading" data-ajax-mode="replace" data-ajax-update="#result" href="~/Home/Simple" class="list-group-item">
                                We keep things simple
                            </a>
                            <a data-ajax="true" data-ajax-loading="#mainLoading" data-ajax-mode="replace" data-ajax-update="#result" href="~/Home/Together" class="list-group-item">
                                We are better together
                            </a>

                            <script>
                                $("a").click(function () {
                                    $("a").removeClass("active");
                                    $(this).toggleClass("active");
                                });
                            </script>

                        </div>
                    </section>
                    <footer class="footer hidden-xs footer-md bg-white"></footer>
                </section>
            </aside>
            <!-- / side content -->
            <section>
                <section class="vbox">
                    <section class="scrollable padder-lg w-f-md" id="browse">
                        <h2 class="font-thin m-b text-primary">Browse Competition Entries</h2>
                        <div class="row row-sm">

                            <div id="result">

                                <div id="mainLoading">
                                    <p align="left">
                                        <img src="~/images/blueloading.gif" alt="" />
                                </div>

                                @Html.Partial("_DisplayEntries")

                            </div>
                        </div>
                    </section>

                    <footer class="footer footer-md bg-white"><p id="footer-right"><i class="fa icon-wrench"></i>  Built internally by AIB's Digital Innovation</p></footer>
                </section>
            </section>
        </section>
        
    </section>

