@model IEnumerable<BrandValues.Entries.Entry>
@{
    ViewBag.Title = "Values Competition Home";
    Layout = "~/Views/Shared/v2/_Layout.cshtml";
}

<!-- main content -->
<section>
    <section class="vbox">

        <section class="scrollable wrapper animated fadeInLeft">

            <div class="panel b-a">

                <div class="panel-body">


                    <div class="row">
                        <div class="col-sm-12">


                            <div id="result">

                                <div id="mainLoading" class="centered">
                                    <p align="center">
                                        <img src="~/images/ajax-loader.gif" alt="" />
                                </div>

                                @Html.Partial("_IntroV2")
                            </div>


                        </div>

                    </div>
                </div>
            </div>

        </section>

        <footer class="footer footer-md bg-white"><p id="footer-right"><i class="fa icon-wrench"></i>  Built internally by AIB's Digital Innovation</p></footer>

    </section>
</section>
<!-- / main content -->
