@using BrandValues.Entries
@model BrandValues.Models.ShortlistViewModel
@{
    ViewBag.Title = "Values Competition";
}



<div id="result" class="left">

    <div class="span-8 colborder">


        <h1 class="intro margin-top-20">Winners Announced!</h1>
        <h5>Congratulations to John Byrne the winner of our individual entry award and to Waterford Business Centre winners of our team entry award.</h5>

        <div class="buttons">

            <a class="btn btn-purple btn-lg" href="~/Home/Play/542e73d67bab3305e8bf679d">
                <i class="icon-user icon"></i>
                <span class="text" id="individual-btn">Individual Winner - Living The Brand Values</span>
            </a>
            <br />
            <a class="btn btn-purple btn-lg margin-top-10" href="~/Home/Play/54317fd17bab3307a47d88b1">
                <i class="icon-users icon"></i>
                <span class="text">Team Winner - The A ib Team</span>
            </a>

        </div>
        <!-- /END BUTTONS -->


        <div class="margin-top-20">
            <a class="btn btn-default" href="~/home/browse">
                <i class="icon-grid icon"></i>
                <span class="text">View all entries</span>
            </a>
        </div>

    </div>


    <div class="span-15 last">

        <div class="phone-image">
            <img src="~/images/polaroid.png" class="img-responsive" alt="Winning entries">
        </div>


    </div>



</div>

