@model IEnumerable<BrandValues.Entries.Entry>
@{
    ViewBag.Title = "Values Competition Home";
    Layout = "~/Views/Shared/v2/_Layout.cshtml";
}

<!-- main content -->
<section>
    <section class="vbox">

        <section class="scrollable wrapper animated fadeInLeft">

            <div class="panel b-a">

                <div class="panel-body">


                    <div class="row">
                        <div class="col-sm-12">


                            <div id="result">

                                <div id="mainLoading" class="centered">
                                    <p align="center">
                                        <img src="~/images/ajax-loader.gif" alt="" />
                                </div>

                                @Html.Partial("_IntroV2")
                            </div>


                        </div>

                    </div>
                </div>
            </div>

        </section>

        <footer class="footer footer-md bg-white"><p id="footer-right"><i class="fa icon-wrench"></i>  Built internally by AIB's Digital Innovation</p></footer>

    </section>
</section>
<!-- / main content -->
<!-- Modal -->
<!-- How did you find your activation session modal-->
<div class="modal fade" id="findSession" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title purple" id="myModalLabel">We want your view</h4>
            </div>
            <div class="modal-body" id="modalBody">
                <div id="surveyMonkeyInfo">
                    <div>
                        <script src="https://www.surveymonkey.com/jsEmbed.aspx?sm=R2SRlMeswwbZf8eSY0_2bEuA_3d_3d"> </script>
                    </div>
                </div>
                <script>
                    var maxWidth = $(window).width();

                    if (maxWidth < 800) {
                        $("#sm_e_s").attr("width", "300");
                    }
                    $("#sm_e_s").attr("scrolling", "no");

                </script>
            </div>
        </div>
    </div>
</div>