@model string
@{
    ViewBag.Title = "Values Competition Home";
}


                <!-- side content -->
<aside class="aside-xl bg-light dk" id="sidebar">
    <section class="vbox">

        <section class="scrollable wrapper animated fadeInLeft">

            <div class="panel-group margin-bottom-10" id="accordion">
                <div class="item pos-rlt">
                    <a href="#" class="item-overlay active wrapper-md font-xs">
                        <div class="panel-body no-left-padding left">
                            <span class="h3 font-thin">The AIB<br />Brand Values<br />Competition</span>
                        </div>
                    </a>
                    <a href="#">
                        <img class="img-full" src="~/Content/webapp/images/box-compass.png" alt="Values Competition Logo">
                    </a>
                </div>

                <div class="panel panel-default no-top-margin no-border-radius no-border">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                        <div class="panel-heading menu-panel">

                            <span class="accordion-icon"><i class="fa icon-info time-icon bg-primary"></i></span>
                            <span class="timeline-date white">What is this about?</span>
                            <i class="icon-arrow-right white i-lg pull-right acc-icon-padding"></i>
                        </div>
                    </a>
                    <div id="collapseOne" class="panel-collapse collapse">
                        <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default no-top-margin no-border-radius no-border">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                        <div class="panel-heading menu-panel">
                            <span class="accordion-icon"><i class="fa icon-info time-icon bg-primary"></i></span>
                            <span class="timeline-date white">How to Enter or Get involved</span>
                            <i class="icon-arrow-right white i-lg pull-right acc-icon-padding"></i>
                        </div>
                    </a>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default no-top-margin no-border-radius no-border">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                        <div class="panel-heading menu-panel">

                            <span class="accordion-icon"><i class="fa icon-calendar time-icon bg-primary"></i></span>
                            <span class="timeline-date white">Competition Calendar</span>
                            <i class="icon-arrow-right white i-lg pull-right acc-icon-padding"></i>
                        </div>
                    </a>
                </div>
            </div>


            <div class="timeline" id="infoAccordion">

                <section id="collapseThree" class="panel-collapse collapse top-padding-10" style="height: auto;">

                    <article class="timeline-item">
                        <div class="timeline-caption">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <span class="arrow left"></span>
                                    <span class="timeline-icon"><i class="fa icon-emoticon-smile time-icon bg-purple"></i></span>
                                    <span class="timeline-date">27th August</span>
                                    <div class="text-sm">Competition starts</div>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="timeline-item">
                        <div class="timeline-caption">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <span class="arrow left"></span>
                                    <span class="timeline-icon"><i class="fa icon-lock time-icon bg-success"></i></span>
                                    <span class="timeline-date">8th October</span>
                                    <div class="text-sm">Competition closes & shortlisting begins</div>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="timeline-item">
                        <div class="timeline-caption">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <span class="arrow left"></span>
                                    <span class="timeline-icon"><i class="fa icon-like time-icon bg-warning"></i></span>
                                    <span class="timeline-date">14th October</span>
                                    <div class="text-sm">Vote for your favourite</div>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="timeline-item">
                        <div class="timeline-caption">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <span class="arrow left"></span>
                                    <span class="timeline-icon"><i class="fa icon-star time-icon bg-danger"></i></span>
                                    <span class="timeline-date">27th October</span>
                                    <div class="text-sm">Winners announced</div>
                                </div>
                            </div>
                        </div>
                    </article>
                </section>




            </div>

            <div class="bg-warning wrapper-md r warning-message">
                <a href="#">
                    <span class="h4 m-b-xs block"><i class="icon-speech i-lg"></i> The Competition is now open!</span>
                    <span class="text-muted">Click here to submit your individual or team entry before October 8th</span>
                </a>
            </div>

            <div class="panel panel-default portlet-item">
                <header class="panel-heading">
                    <ul class="nav nav-pills pull-right">
                        <li>
                            <a href="#" class="panel-toggle text-muted"><i class="fa fa-caret-down text-active"></i><i class="fa fa-caret-up text"></i></a>
                        </li>
                    </ul>
                    News <span class="badge bg-warning">1</span>
                </header>
                <section class="panel-body">
                    <article class="media">
                        <div class="pull-left">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x text-warning"></i>
                                <i class="fa fa-file-o fa-stack-1x text-white"></i>
                            </span>
                        </div>
                        <div class="media-body">
                            <a href="#" class="h4">The Competition has begun!</a>
                            <small class="block m-t-xs">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus</small>
                            <em class="text-xs">Posted on Aug 27, 2014</em>
                        </div>
                    </article>
                </section>
            </div>
        </section>
        
        <footer class="footer footer-md bg-black">
           
        </footer>

    </section>
</aside>
<!-- / side content -->


                <section>
                    
                    <section class="vbox">
                        <section class="relativescroll scrollable padder-lg w-f-md">
                            <a href="#" class="pull-right text-muted m-t-lg" data-toggle="class:fa-spin"><i class="icon-refresh i-lg  inline" id="refresh"></i></a>
                            <h2 class="font-thin m-b">
                                Discover Others Living the Brand Values <span class="musicbar animate inline m-l-sm" style="width:20px;height:20px">
                                                                            <span class="bar1 a1 bg-primary"></span>
                                                                            <span class="bar2 a2 bg-info"></span>
                                                                            <span class="bar3 a3 bg-success"></span>
                                                                            <span class="bar4 a4 bg-warning"></span>
                                                                            <span class="bar5 a5 bg-danger dker"></span>
                                                                        </span>
                            </h2>
                            <h4 class="font-thin">Top Trending Entries</h4>
                            <div class="row row-sm">
                                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                                    <div class="item">
                                        <div class="pos-rlt">
                                            <div class="item-overlay opacity r r-2x bg-black">
                                                <div class="center text-center m-t-n">
                                                    <a href="#"><i class="icon-arrow-right i-2x"></i></a>
                                                </div>
                                                <div class="bottom padder m-b-sm">
                                                    <a href="#" class="pull-right">
                                                        <i class="fa fa-heart-o"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <a href="#"><img src="~/Content/webapp/images/entries/document.png" alt="Document" class="r r-2x img-full"></a>
                                        </div>
                                        <div class="padder-v">
                                            <a href="#" class="text-ellipsis">Customer Focus</a>
                                            <a href="#" class="text-ellipsis text-xs text-muted">Dave, COO</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                                    <div class="item">
                                        <div class="pos-rlt">
                                            <div class="item-overlay opacity r r-2x bg-black active">
                                                <div class="bottom padder m-b-sm">
                                                    <a href="#" class="pull-right active" data-toggle="class">
                                                        <i class="fa fa-heart-o text"></i>
                                                        <i class="fa fa-heart text-active text-danger"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <a href="#"><img src="~/Content/webapp/images/entries/photo.png" alt="" class="r r-2x img-full"></a>
                                        </div>
                                        <div class="padder-v">
                                            <a href="#" class="text-ellipsis">Tech focus</a>
                                            <a href="#" class="text-ellipsis text-xs text-muted">Catherine, FSG</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix visible-xs"></div>
                                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                                    <div class="item">
                                        <div class="pos-rlt">
                                            <div class="item-overlay opacity r r-2x bg-black">
                                                <div class="center text-center m-t-n">
                                                    <a href="#"><i class="icon-arrow-right i-2x"></i></a>
                                                </div>
                                                <div class="bottom padder m-b-sm">
                                                    <a href="#" class="pull-right">
                                                        <i class="fa fa-heart-o"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <a href="#"><img src="~/Content/webapp/images/p2.jpg" alt="" class="r r-2x img-full"></a>
                                        </div>
                                        <div class="padder-v">
                                            <a href="#" class="text-ellipsis">Terrific Teller</a>
                                            <a href="#" class="text-ellipsis text-xs text-muted">Wendy, Finance</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                                    <div class="item">
                                        <div class="pos-rlt">
                                            <div class="item-overlay opacity r r-2x bg-black">
                                                <div class="center text-center m-t-n">
                                                    <a href="#"><i class="icon-control-play i-2x"></i></a>
                                                </div>
                                                <div class="bottom padder m-b-sm">
                                                    <a href="#" class="pull-right">
                                                        <i class="fa fa-heart-o"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="top">
                                                <span class="pull-right m-t-n-xs m-r-sm text-white">
                                                    <i class="fa fa-bookmark i-lg"></i>
                                                </span>
                                            </div>
                                            <a href="#"><img src="~/Content/webapp/images/p3.jpg" alt="" class="r r-2x img-full"></a>
                                        </div>
                                        <div class="padder-v">
                                            <a href="#" class="text-ellipsis">Awesome</a>
                                            <a href="#" class="text-ellipsis text-xs text-muted">Andy, Branch</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix visible-xs"></div>
                                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                                    <div class="item">
                                        <div class="pos-rlt">
                                            <div class="item-overlay opacity r r-2x bg-black">
                                                <div class="center text-center m-t-n">
                                                    <a href="#"><i class="icon-arrow-right i-2x"></i></a>
                                                </div>
                                                <div class="bottom padder m-b-sm">
                                                    <a href="#" class="pull-right">
                                                        <i class="fa fa-heart-o"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <a href="#"><img src="~/Content/webapp/images/entries/photo.png" alt="" class=" r r-2x img-full"></a>
                                        </div>
                                        <div class="padder-v">
                                            <a href="#" class="text-ellipsis">Quicker payments</a>
                                            <a href="#" class="text-ellipsis text-xs text-muted">John, COO</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                                    <div class="item">
                                        <div class="pos-rlt">
                                            <div class="item-overlay opacity r r-2x bg-black">
                                                <div class="center text-center m-t-n">
                                                    <a href="#"><i class="icon-arrow-right i-2x"></i></a>
                                                </div>
                                                <div class="bottom padder m-b-sm">
                                                    <a href="#" class="pull-right">
                                                        <i class="fa fa-heart-o"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <a href="#"><img src="~/Content/webapp/images/p5.jpg" alt="" class="r r-2x img-full"></a>
                                        </div>
                                        <div class="padder-v">
                                            <a href="#" class="text-ellipsis">New ways to Bank</a>
                                            <a href="#" class="text-ellipsis text-xs text-muted">John, Finance</a>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-7">
                                    <h4 class="font-thin">Latest Entries</h4>
                                    <div class="row row-sm">
                                        <div class="col-xs-6 col-sm-3">
                                            <div class="item">
                                                <div class="pos-rlt">
                                                    <div class="item-overlay opacity r r-2x bg-black">
                                                        <div class="center text-center m-t-n">
                                                            <a href="#"><i class="fa fa-play-circle i-2x"></i></a>
                                                        </div>
                                                    </div>
                                                    <a href="#"><img src="~/Content/webapp/images/entries/photo.png" alt="" class="r r-2x img-full"></a>
                                                </div>
                                                <div class="padder-v">
                                                    <a href="#" class="text-ellipsis">Spring rain</a>
                                                    <a href="#" class="text-ellipsis text-xs text-muted">Miaow</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-6 col-sm-3">
                                            <div class="item">
                                                <div class="pos-rlt">
                                                    <div class="item-overlay opacity r r-2x bg-black">
                                                        <div class="center text-center m-t-n">
                                                            <a href="#"><i class="fa fa-play-circle i-2x"></i></a>
                                                        </div>
                                                    </div>
                                                    <a href="#"><img src="~/Content/webapp/images/p2.jpg" alt="" class="r r-2x img-full"></a>
                                                </div>
                                                <div class="padder-v">
                                                    <a href="#" class="text-ellipsis">Hope</a>
                                                    <a href="#" class="text-ellipsis text-xs text-muted">Miya</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-6 col-sm-3">
                                            <div class="item">
                                                <div class="pos-rlt">
                                                    <div class="item-overlay opacity r r-2x bg-black">
                                                        <div class="center text-center m-t-n">
                                                            <a href="#"><i class="fa fa-play-circle i-2x"></i></a>
                                                        </div>
                                                    </div>
                                                    <a href="#"><img src="~/Content/webapp/images/p3.jpg" alt="" class="r r-2x img-full"></a>
                                                </div>
                                                <div class="padder-v">
                                                    <a href="#" class="text-ellipsis">Listen wind</a>
                                                    <a href="#" class="text-ellipsis text-xs text-muted">Soyia Jess</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-6 col-sm-3">
                                            <div class="item">
                                                <div class="pos-rlt">
                                                    <div class="item-overlay opacity r r-2x bg-black">
                                                        <div class="center text-center m-t-n">
                                                            <a href="#"><i class="fa fa-play-circle i-2x"></i></a>
                                                        </div>
                                                    </div>
                                                    <a href="#"><img src="~/Content/webapp/images/p4.jpg" alt="" class="r r-2x img-full"></a>
                                                </div>
                                                <div class="padder-v">
                                                    <a href="#" class="text-ellipsis">Breaking me</a>
                                                    <a href="#" class="text-ellipsis text-xs text-muted">Pett JA</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-6 col-sm-3">
                                            <div class="item">
                                                <div class="pos-rlt">
                                                    <div class="item-overlay opacity r r-2x bg-black">
                                                        <div class="center text-center m-t-n">
                                                            <a href="#"><i class="fa fa-play-circle i-2x"></i></a>
                                                        </div>
                                                    </div>
                                                    <a href="#"><img src="~/Content/webapp/images/p5.jpg" alt="" class="r r-2x img-full"></a>
                                                </div>
                                                <div class="padder-v">
                                                    <a href="#" class="text-ellipsis">Nothing</a>
                                                    <a href="#" class="text-ellipsis text-xs text-muted">Willion</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-6 col-sm-3">
                                            <div class="item">
                                                <div class="pos-rlt">
                                                    <div class="item-overlay opacity r r-2x bg-black">
                                                        <div class="center text-center m-t-n">
                                                            <a href="#"><i class="fa fa-play-circle i-2x"></i></a>
                                                        </div>
                                                    </div>
                                                    <a href="#"><img src="~/Content/webapp/images/p3.jpg" alt="" class="r r-2x img-full"></a>
                                                </div>
                                                <div class="padder-v">
                                                    <a href="#" class="text-ellipsis">Panda Style</a>
                                                    <a href="#" class="text-ellipsis text-xs text-muted">Lionie</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-6 col-sm-3">
                                            <div class="item">
                                                <div class="pos-rlt">
                                                    <div class="item-overlay opacity r r-2x bg-black">
                                                        <div class="center text-center m-t-n">
                                                            <a href="#"><i class="fa fa-play-circle i-2x"></i></a>
                                                        </div>
                                                    </div>
                                                    <a href="#"><img src="~/Content/webapp/images/p4.jpg" alt="" class="r r-2x img-full"></a>
                                                </div>
                                                <div class="padder-v">
                                                    <a href="#" class="text-ellipsis">Hook Me</a>
                                                    <a href="#" class="text-ellipsis text-xs text-muted">Gossi</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-6 col-sm-3">
                                            <div class="item">
                                                <div class="pos-rlt">
                                                    <div class="item-overlay opacity r r-2x bg-black">
                                                        <div class="center text-center m-t-n">
                                                            <a href="#"><i class="fa fa-play-circle i-2x"></i></a>
                                                        </div>
                                                    </div>
                                                    <a href="#"><img src="~/Content/webapp/images/p0.jpg" alt="" class="r r-2x img-full"></a>
                                                </div>
                                                <div class="padder-v">
                                                    <a href="#" class="text-ellipsis">Tempered Song</a>
                                                    <a href="#" class="text-ellipsis text-xs text-muted">Miaow</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-6 col-sm-3">
                                            <div class="item">
                                                <div class="pos-rlt">
                                                    <div class="item-overlay opacity r r-2x bg-black">
                                                        <div class="center text-center m-t-n">
                                                            <a href="#"><i class="fa fa-play-circle i-2x"></i></a>
                                                        </div>
                                                    </div>
                                                    <a href="#"><img src="~/Content/webapp/images/entries/document.png" alt="" class="r r-2x img-full"></a>
                                                </div>
                                                <div class="padder-v">
                                                    <a href="#" class="text-ellipsis">Tempered Song</a>
                                                    <a href="#" class="text-ellipsis text-xs text-muted">Miaow</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-6 col-sm-3">
                                            <div class="item">
                                                <div class="pos-rlt">
                                                    <div class="item-overlay opacity r r-2x bg-black">
                                                        <div class="center text-center m-t-n">
                                                            <a href="#"><i class="fa fa-play-circle i-2x"></i></a>
                                                        </div>
                                                    </div>
                                                    <a href="#"><img src="~/Content/webapp/images/p0.jpg" alt="" class="r r-2x img-full"></a>
                                                </div>
                                                <div class="padder-v">
                                                    <a href="#" class="text-ellipsis">Tempered Song</a>
                                                    <a href="#" class="text-ellipsis text-xs text-muted">Miaow</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-6 col-sm-3">
                                            <div class="item">
                                                <div class="pos-rlt">
                                                    <div class="item-overlay opacity r r-2x bg-black">
                                                        <div class="center text-center m-t-n">
                                                            <a href="#"><i class="fa fa-play-circle i-2x"></i></a>
                                                        </div>
                                                    </div>
                                                    <a href="#"><img src="~/Content/webapp/images/entries/photo.png" alt="" class="r r-2x img-full"></a>
                                                </div>
                                                <div class="padder-v">
                                                    <a href="#" class="text-ellipsis">Tempered Song</a>
                                                    <a href="#" class="text-ellipsis text-xs text-muted">Miaow</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-6 col-sm-3">
                                            <div class="item">
                                                <div class="pos-rlt">
                                                    <div class="item-overlay opacity r r-2x bg-black">
                                                        <div class="center text-center m-t-n">
                                                            <a href="#"><i class="fa fa-play-circle i-2x"></i></a>
                                                        </div>
                                                    </div>
                                                    <a href="#"><img src="~/Content/webapp/images/p0.jpg" alt="" class="r r-2x img-full"></a>
                                                </div>
                                                <div class="padder-v">
                                                    <a href="#" class="text-ellipsis">Tempered Song</a>
                                                    <a href="#" class="text-ellipsis text-xs text-muted">Miaow</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <h4 class="font-thin">We want your view</h4>
                                    <div class="list-group bg-white list-group-lg no-bg auto">
                                        <a href="#" class="list-group-item clearfix">
                                            <span class="pull-right h2 text-muted m-l">1</span>
                                            <span class="pull-left h2 text-muted padder-r">
                                                <i class="icon-control-play icon"></i>
                                            </span>
                                            <span class="clear">
                                                <span>Helping customers</span>
                                                <small class="text-muted clear text-ellipsis">by Catherine Finn</small>
                                            </span>
                                        </a>
                                        <a href="#" class="list-group-item clearfix">
                                            <span class="pull-right h2 text-muted m-l">2</span>
                                            <span class="pull-left h2 text-muted padder-r">
                                                <i class="icon-control-play icon"></i>
                                            </span>
                                            <span class="clear">
                                                <span>Empowering staff</span>
                                                <small class="text-muted clear text-ellipsis">by Dave Maxwell</small>
                                            </span>
                                        </a>
                                        <a href="#" class="list-group-item clearfix">
                                            <span class="pull-right h2 text-muted m-l">3</span>
                                            <span class="pull-left h2 text-muted padder-r">
                                                <i class="icon-control-play icon"></i>
                                            </span>
                                            <span class="clear">
                                                <span>Building trust and appreciation</span>
                                                <small class="text-muted clear text-ellipsis">by Wendy Beesley</small>
                                            </span>
                                        </a>
                                        <a href="#" class="list-group-item clearfix">
                                            <span class="pull-right h2 text-muted m-l">4</span>
                                            <span class="pull-left h2 text-muted padder-r">
                                                <i class="icon-book-open icon"></i>
                                            </span>
                                            <span class="clear">
                                                <span>I keep things simple</span>
                                                <small class="text-muted clear text-ellipsis">by Andy O'Sullivan</small>
                                            </span>
                                        </a>
                                        <a href="#" class="list-group-item clearfix">
                                            <span class="pull-right h2 text-muted m-l">5</span>
                                            <span class="pull-left h2 text-muted padder-r">
                                                <i class="icon-book-open icon"></i>
                                            </span>
                                            <span class="clear">
                                                <span>We are better together</span>
                                                <small class="text-muted clear text-ellipsis">by David Duffy</small>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </section>
                        
                        <footer class="footer footer-md bg-black">
                            <p id="footer-right"><i class="fa icon-wrench"></i>  Built internally by AIB's Digital Innovation</p>
                        </footer>

                    </section>


                </section>

           


