    @model IEnumerable<BrandValues.Entries.Entry>
    @{
        ViewBag.Title = "Values Competition Home";
    }

    <!-- main content -->
    <section>
        <section class="vbox">

            <section class="scrollable wrapper animated fadeInLeft">

                <div class="panel b-a">

                    <div class="panel-body">


                        <div class="row">
                            <div class="col-sm-12">
                                

                                <div id="result">
                                    @Html.Partial("_Intro")
                                </div>


                            </div>

                        </div>
                    </div>
                </div>



                @*<div class="bg-warning wrapper-md r warning-message">
                        <a href="~/home/upload">
                            <span class="h4 m-b-xs block"><i class="icon-speech i-lg"></i> The Competition is now open!</span>
                            <span class="text-muted">Click here to submit your individual or team entry before October 8th</span>
                        </a>
                    </div>*@



            </section>

            <footer class="footer hidden-xs footer-md bg-black"></footer>

        </section>
    </section>
    <!-- / main content -->





