/* Colours */
body {
  height: 100%;
  color: #788188;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:active {
  text-decoration: underline;
}
#header {
  position: fixed !important;
  position: absolute;
  /* IE6 reads this */
  height: 50px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background: #ffffff;
}
#navigation {
  position: fixed !important;
  position: absolute;
  /* IE6 reads this */
  height: 100%;
  width: 200px;
  top: 0;
  left: 0;
  padding-top: 100px;
  background: #181f24;
  color: #7d94a4;
  z-index: 1;
}
#navigation a {
  color: #7d94a4;
}
#navigation a:hover {
  color: #ffffff;
}
.nav > li > a:hover,
.nav > li > a:focus {
  background-color: #2c3942;
}
#content {
  margin-top: 50px;
  margin-left: 200px;
}
.input-small {
  width: 90% !important;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
/* Login */
.text-danger {
  color: #f05050;
}
.top-padding {
  padding-top: 15px;
}
.largest-text {
  font-size: 300%;
}
.large-text {
  font-size: 180%;
}
.text-primary {
  color: #647cb8;
}
.text-success {
  color: #91ba65;
}
.text-warning {
  color: #e68239;
}
.purple {
  color: #c73c95 !important;
}
.green {
  color: #91ba65;
}
.dark-grey {
  color: #788188;
}
#loginForm {
  background-color: #ffffff;
  padding: 10px;
  padding-top: 25px;
  margin-bottom: 15px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
/* Nav */
.nav {
  list-style-type: none;
}
.bg-black .text-muted {
  color: #627b8c!important;
}
.nav > li {
  position: relative;
  display: block;
}
.m-b-sm {
  margin-bottom: 10px;
}
.m-t {
  margin-top: 15px;
}
.m-b {
  margin-bottom: 15px;
}
.padder {
  padding-left: 15px;
  padding-right: 15px;
}
.text-xs {
  font-size: 12px;
}
.text-muted {
  color: #939aa0;
}
.text-muted {
  color: #999;
}
/* Upload */
/* Loading */
#loading {
  display: none;
}
/* Upload */
#teamname-txt {
  display: none;
}
.help-block {
  display: block;
}
/* Homepage */
.panel.panel-default {
  border-color: #eaeef1;
}
.panel-group .panel {
  margin-bottom: 0;
  overflow: hidden;
}
.no-border {
  border: none;
}
.no-top-margin {
  margin-top: 0!important;
}
.panel-group .panel-heading {
  border-bottom: 0;
}
.accordion-icon {
  position: static;
  display: inline-block;
  width: auto;
}
.bg-primary {
  background-color: #647cb8;
  color: #f0f2f8;
}
.white {
  color: #fff;
}
.i-lg {
  font-size: 1.33333333em;
  line-height: .75em;
  vertical-align: -15%;
}
.acc-icon-padding {
  padding-top: 7px;
}
.menu-panel {
  background-color: #879ac8 !important;
  border-radius: 0px !important;
  border: none !important;
  padding: 15px;
}
.menu-panel:hover {
  background-color: #758bc0 !important;
}
.menuhover {
  background-color: #758bc0 !important;
}
.menu-panel-orange {
  background-color: #ea975b !important;
}
.menu-panel-orange:hover {
  background-color: #e99050 !important;
}
.left {
  text-align: left !important;
}
/* entries */
.text-ellipsis {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.text-xs {
  font-size: 12px;
}
.text-muted {
  color: #939aa0;
}
.entry-icon-padder {
  padding-top: 5px;
}
.padder-v {
  padding-top: 15px;
  padding-bottom: 15px;
}
.pos-rlt {
  position: relative;
}
/* Subpages */
.margin-top-20 {
  margin-top: 20px;
}
.m-t-xl {
  margin-top: 40px;
}
.m-b {
  margin-bottom: 15px;
}
h3,
.h3 {
  font-size: 24px;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: 0;
}
.clear {
  display: block;
  overflow: hidden;
}
@media (min-width: 768px) {
  .hidden-desktop {
    display: none!important;
  }
}
/* My Colours */
/* Text Colours */
/* Buttons */
/*# sourceMappingURL=IE6.css.map */