/* BG */
@brand-login-bg:            #f2f4f8;
@brand-white:               #ffffff;
@color-grey:                #e1e1e2;

/* Text Colours */
@text-dark-grey:            #788188;
@text-light-grey:           #a9a9a9;
@text-purple:               #c73c95;
@brand-success:         #91ba65;
@brand-info:            #3996b1;
@brand-primary:         #647cb8;

@h1:                   300%;
@h2:                   180%;

.bg-purple {
background-color: @text-purple;
color: #f0f2f8;
}

.bg-white{
    background-color: @brand-white;
}


/* Stop apple rubberbanding */
/*html, body {
  height: 100%;
  //overflow: hidden;
  //overflow: auto;
  //-webkit-overflow-scrolling: touch;
}

.scrollable{
 -webkit-overflow-scrolling: touch;
}*/

/* Menu fixes */
@media (max-width: 1175px) {
    .hidden-tablet{
        display: none !important;
    }
}

@media (max-width: 768px) {
    .no-margin-mobile{
        margin-bottom: 0px !important;
        padding-bottom: 0px !important;
    }  
    .wrapper {
        padding-bottom: 0px !important;
    }
    .panel-body {
        padding-bottom: 0px !important;
        padding-top: 0px !important;
    }
    .mobile-bg {
        background-color: #fff;
        padding: 10px;
        padding-top: 25px;
        margin-bottom: 15px;
        -moz-border-radius: 10px;
        border-radius: 10px;
    }
}

@media (min-width: 768px) {
    .hidden-desktop{
        display: none !important;
    }
  
}

/* Autocomplete fixes */
.ui-autocomplete {
    z-index: 99999 !important;
}
.ui-corner-all {
    -moz-border-radius-topleft: 0px !important;
    -webkit-border-top-left-radius: 0px !important;
    -khtml-border-top-left-radius: 0px !important;
    border-top-left-radius: 0px !important;
    -moz-border-radius-bottomright: 0px !important;
    -webkit-border-bottom-right-radius: 0px !important;
    -khtml-border-bottom-right-radius: 0px !important;
    -moz-border-radius-bottomleft: 0px !important;
    -webkit-border-bottom-left-radius: 0px !important;
    -khtml-border-bottom-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    -moz-border-radius-topleft: 0px !important;
    -webkit-border-top-left-radius: 0px !important;
    -khtml-border-top-left-radius: 0px !important;
    border-top-left-radius: 0px !important;
    -moz-border-radius-topright: 0px !important;
    -webkit-border-top-right-radius: 0px !important;
    -khtml-border-top-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
}
input[type="text"], input[type="password"], .ui-autocomplete-input, textarea, .uneditable-input {
    -webkit-border-radius: 0px !important;
-moz-border-radius: 0px !important;
border-radius: 0px !important;
}

.ui-widget-content{
    background: @brand-white !important;
}
.ui-menu .ui-menu-item a.ui-state-focus,
.ui-menu .ui-menu-item a.ui-state-active { 
  font-weight: normal; 
  margin: 0; 
  color: #ffffff !important;
  background-color: @brand-primary !important;
  background-repeat: no-repeat !important;
  background-image: none !important;
  text-shadow: none !important;
  color: #ffffff !important;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.search-by {
    color: #8ca1af;
    font-size: 10px;
}
.search-by:hover {
    color: #ffffff;
}

/* Login */
.bg-login {
    background-color: @brand-login-bg;
    color: @text-dark-grey;
    background-image: url("../images/bg/bg-compass.png");
    background-position: 98% 97%;
    background-repeat: no-repeat;
}
@media (max-width: 991px) {
    .bg-login {
        background-position: 100% 0%;
    }    
    .mobile-bg {
        background-color: @brand-white;
        border-radius: 10px;
        padding: 10px;
    }
}
.largest-text{
    font-size: @h1;
}
.large-text{
    font-size: @h2;
}
.purple {
    color : @text-purple !important;
}
.green {
    color: @brand-success;
}
.dark-grey{
    color: @text-dark-grey;
}
.btn-grey {
    background-color: @color-grey;
    color: @text-dark-grey;
}
.btn-grey:hover {
    background-color: darken(@color-grey, 5%);
    border-color: darken(@color-grey, 8%);
}
#loginForm {
    background-color: @brand-white;
    padding: 10px;
    padding-top: 25px;
    margin-bottom: 15px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.link-light {
    color: @text-light-grey;
}
.link-light:hover {
    color: @text-purple;
}
.centered {
    margin-left: 10% !important;
    margin-right: 10% !important;
}
.center {
    text-align: center;
}
.top-padding {
    padding-top: 5px;
}
.list-icon{
    padding-left: 20px;
    padding-right: 5px;
}

/*Nav */
.slim-scroll{
    background-image: url("../images/bg/bg-nav-compass.png");
    background-position: 0% 100%;
    background-repeat: no-repeat;
}

.blue {
    color: @brand-info !important;
}

/* Footer */
@media (max-width: 1024px) {
.footer-md {
min-height: 0px;
}
}

@media (max-height: 600px) {
.footer-md {
min-height: 0px;
}
}


/* Aside */
.aside-45 {
    width: 50%;
}

/* Home Screen */
.navbar-brand{
    font-weight: normal;
}
.timeline-item.active .timeline-caption {
    width: 100%;
}
.white{
    color: @brand-white;
}
.left {
    text-align: left !important;
}
.no-border-radius {
    border-radius: 0px !important;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}
.no-left-padding{
    padding-left: 0px;
}
.no-top-margin{
    margin-top: 0px !important;
}
.margin-top-20{
    margin-top: 20px;
}
.no-bottom-margin{
    margin-bottom: 0px;
}
.margin-bottom-10{
    margin-bottom: 10px;
}
.margin-bottom-20{
    margin-bottom: 20px;
}


/* menu */
.menu-purple a:hover, .menu-purple a:focus {
background-color: @text-purple !important;
color: @brand-white !important;
}
.menu-blue a:hover, .menu-blue a:focus {
background-color: @brand-primary !important;
color: @brand-white !important;
}
.menu-lightblue a:hover, .menu-lightblue a:focus {
background-color: @brand-info !important;
color: @brand-white !important;
}
.menu-green a:hover, .menu-green a:focus {
background-color: @brand-success !important;
color: @brand-white !important;
}
.menu-orange a:hover, .menu-orange a:focus {
background-color: @brand-warning !important;
color: @brand-white !important;
}


.menu-panel {
    background-color: lighten(@brand-primary, 10%) !important;
    border-radius: 0px !important;
    border: none !important;
    padding: 15px;
}
.menu-panel:hover {
    background-color: lighten(@brand-primary, 5%) !important;
}
.menuhover {
    background-color: lighten(@brand-primary, 5%) !important;
}
.menu-panel-orange {
    background-color: lighten(@brand-warning, 7.5%) !important;
}
.menu-panel-orange:hover {
    background-color: lighten(@brand-warning, 5%) !important;
}
.top-padding-10 {
    padding-top: 10px;
}
.warning-message{
    margin-bottom: 10px;
}
.no-border {
    border: none;
}
.accordion-icon{
    position: static;
    display: inline-block;
    width: auto;
}
.time-icon{
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: inline-block !important;
    z-index: 10;
    border-radius: 20px;
    text-align: center;
}
.acc-icon-padding{
    padding-top: 7px;
}
.padder-r {
    padding-right: 10px;
}

/* Entry types */
.entry-lg{
    width: 100px;
    height: 175px;
}

.video {
    background-color: @text-purple;
}

.entry-info{
    bottom: 0;
    left: 0;
    right: 0;
}
.entry-image{
    max-width: 100%;
}

.entry-centered {
    padding-left:5%;
    padding-right: 5%;
    padding-top: 5%;
}

/*@media (max-width: 767px) {
.entry-info{
    display: none;
}
}*/

.margin-bottom {
    margin-bottom: 20px !important;
}

.margin-lr{
    margin-left: 2%;
    margin-right: 2%;
}

/* Footer */
#footer-right{
    text-align: right;
    right: 0;
    width: 100%;
    padding-top: 5px;
    font-size: 12px;
}

/* Loading */
#loading {
    display: none;
}
#mainLoading {
    display: none;
}

/* Upload */
#teamname-txt {
    display: none;
}

#success{
    display: none;
}

/* Image picker */
ul.thumbnails.image_picker_selector {
  overflow: auto;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  padding: 0px;
  margin: 0px; }
  ul.thumbnails.image_picker_selector ul {
    overflow: auto;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    padding: 0px;
    margin: 0px; }
  ul.thumbnails.image_picker_selector li.group_title {
    float: none; }
  ul.thumbnails.image_picker_selector li {
    margin: 0px 12px 12px 0px;
    float: left; }
    ul.thumbnails.image_picker_selector li .thumbnail {
      padding: 6px;
      border: 1px solid #dddddd;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none; }
      ul.thumbnails.image_picker_selector li .thumbnail img {
        -webkit-user-drag: none; }
    ul.thumbnails.image_picker_selector li .thumbnail.selected {
      background: #0088cc; }

/* Entry */
.entry-icon:hover {
    filter: alpha(opacity=60);  /* IE */
    opacity: 0.6; 
}
.entry-icon-padder{
    padding-top: 5px;
}

#likeResults {
    display:none !important;
}
       

/* Jquery Dropdown menu */
.ui-menu {
width: 200px;
margin-bottom: 2em;
}
.ui-menu {
list-style: none;
padding: 2px;
margin: 0;
display: block;
float: left;
outline: none;
}
.ui-menu .ui-menu-item {
margin: 0;
padding: 0;
zoom: 1;
float: left;
clear: left;
width: 100%;
}
.ui-autocomplete {
position: absolute;
top: 0;
left: 0;
cursor: default;
}
.ui-menu .ui-menu-item a {
text-decoration: none;
display: block;
padding: 2px .4em;
line-height: 1.5;
zoom: 1;
font-weight: normal;
}
.ui-widget-content a {
color: #404040;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
-moz-border-radius-bottomright: 4px;
-webkit-border-bottom-right-radius: 4px;
-khtml-border-bottom-right-radius: 4px;
border-bottom-right-radius: 4px;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
-moz-border-radius-bottomleft: 4px;
-webkit-border-bottom-left-radius: 4px;
-khtml-border-bottom-left-radius: 4px;
border-bottom-left-radius: 4px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
-moz-border-radius-topright: 4px;
-webkit-border-top-right-radius: 4px;
-khtml-border-top-right-radius: 4px;
border-top-right-radius: 4px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
-moz-border-radius-topleft: 4px;
-webkit-border-top-left-radius: 4px;
-khtml-border-top-left-radius: 4px;
border-top-left-radius: 4px;
}
.ui-corner-all {
-moz-border-radius-bottomright: 0!important;
-webkit-border-bottom-right-radius: 0!important;
-khtml-border-bottom-right-radius: 0!important;
-moz-border-radius-bottomleft: 0!important;
-webkit-border-bottom-left-radius: 0!important;
-khtml-border-bottom-left-radius: 0!important;
border-bottom-left-radius: 0!important;
border-bottom-right-radius: 0!important;
-moz-border-radius-topleft: 0!important;
-webkit-border-top-left-radius: 0!important;
-khtml-border-top-left-radius: 0!important;
border-top-left-radius: 0!important;
-moz-border-radius-topright: 0!important;
-webkit-border-top-right-radius: 0!important;
-khtml-border-top-right-radius: 0!important;
border-top-right-radius: 0!important;
}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
-moz-border-radius-topleft: 4px;
-webkit-border-top-left-radius: 4px;
-khtml-border-top-left-radius: 4px;
border-top-left-radius: 4px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
-moz-border-radius-topright: 4px;
-webkit-border-top-right-radius: 4px;
-khtml-border-top-right-radius: 4px;
border-top-right-radius: 4px;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
-moz-border-radius-bottomleft: 4px;
-webkit-border-bottom-left-radius: 4px;
-khtml-border-bottom-left-radius: 4px;
border-bottom-left-radius: 4px;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
-moz-border-radius-bottomright: 4px;
-webkit-border-bottom-right-radius: 4px;
-khtml-border-bottom-right-radius: 4px;
border-bottom-right-radius: 4px;
}
.ui-corner-all {
-moz-border-radius-bottomright: 0!important;
-webkit-border-bottom-right-radius: 0!important;
-khtml-border-bottom-right-radius: 0!important;
-moz-border-radius-bottomleft: 0!important;
-webkit-border-bottom-left-radius: 0!important;
-khtml-border-bottom-left-radius: 0!important;
border-bottom-left-radius: 0!important;
border-bottom-right-radius: 0!important;
-moz-border-radius-topleft: 0!important;
-webkit-border-top-left-radius: 0!important;
-khtml-border-top-left-radius: 0!important;
border-top-left-radius: 0!important;
-moz-border-radius-topright: 0!important;
-webkit-border-top-right-radius: 0!important;
-khtml-border-top-right-radius: 0!important;
border-top-right-radius: 0!important;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
-moz-border-radius-bottomright: 4px;
-webkit-border-bottom-right-radius: 4px;
-khtml-border-bottom-right-radius: 4px;
border-bottom-right-radius: 4px;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
-moz-border-radius-bottomleft: 4px;
-webkit-border-bottom-left-radius: 4px;
-khtml-border-bottom-left-radius: 4px;
border-bottom-left-radius: 4px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
-moz-border-radius-topright: 4px;
-webkit-border-top-right-radius: 4px;
-khtml-border-top-right-radius: 4px;
border-top-right-radius: 4px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
-moz-border-radius-topleft: 4px;
-webkit-border-top-left-radius: 4px;
-khtml-border-top-left-radius: 4px;
border-top-left-radius: 4px;
}
.ui-widget-content {
border: 1px solid #aaa;
background: #fff url(images/ui-bg_glass_75_ffffff_1x400.png) 50% 50% repeat-x;
color: #404040;
}
.ui-widget {
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 13px;
}
.ui-widget-content {
background: #fff!important;
}
.ui-corner-all {
-moz-border-radius-bottomright: 0!important;
-webkit-border-bottom-right-radius: 0!important;
-khtml-border-bottom-right-radius: 0!important;
-moz-border-radius-bottomleft: 0!important;
-webkit-border-bottom-left-radius: 0!important;
-khtml-border-bottom-left-radius: 0!important;
border-bottom-left-radius: 0!important;
border-bottom-right-radius: 0!important;
-moz-border-radius-topleft: 0!important;
-webkit-border-top-left-radius: 0!important;
-khtml-border-top-left-radius: 0!important;
border-top-left-radius: 0!important;
-moz-border-radius-topright: 0!important;
-webkit-border-top-right-radius: 0!important;
-khtml-border-top-right-radius: 0!important;
border-top-right-radius: 0!important;
}
.ui-autocomplete {
z-index: 99999!important;
}
.ui-helper-hidden-accessible {
border: 0;
clip: rect(0 0 0 0);
height: 1px;
margin: -1px;
overflow: hidden;
padding: 0;
position: absolute;
width: 1px;
}
.input-group-btn {
position: relative;
font-size: 0;
white-space: nowrap;
}
.input-group-addon, .input-group-btn {
width: 1%;
white-space: nowrap;
vertical-align: middle;
}
.input-group-addon, .input-group-btn, .input-group .form-control {
display: table-cell;
}