@font-face {
	font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
	src: url('../fonts/sourcesanspro/sourcesanspro-regular-webfont.eot'); /* IE9 Compat Modes */
	src: url('../fonts/opensans/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../fonts/sourcesanspro/sourcesanspro.woff') format('woff'); /* Modern Browsers */
}
