@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<hgroup class="title purple">
    <h1>Please check your AIB email</h1>
</hgroup>
<div>
    <p>
        Please check your AIB email to reset your password.
    </p>
</div>

