@{
    ViewBag.Title = "Password Reset";
}

<hgroup class="title purple">
    <h1>Your password has been reset</h1>
</hgroup>
<div>
    <p>
        You can now login again! Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
