@{
    ViewBag.Title = "Terms & Conditions";
}

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <section id="loginForm">

            <h1 class="largest-text purple">Terms & Conditions</h1>
            <hr />

        </section>



        <p class="text-center centered">
            @Html.ActionLink("Back", "Register", null, new { @class = "btn btn-grey btn-block rounded" })
        </p>
    </div>
    

</div>
