@{
    ViewBag.Title = "Terms & Conditions";
}

            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <section id="loginForm">

                        <h1 class="largest-text purple">Terms & Conditions</h1>
                        <hr />
                        <p>By submitting an entry, each participant agrees to be bound by these Competition Rules and the decisions of the Judging Panel.</p>
                        <ol>
                            <li class="margin-bottom-20"><strong>Eligibility:</strong><br />The Competition is open to individuals who are direct employees or contactors of AIB plc and its associated companies, who are in employment/contracted on 27 August 2014, or to teams managed by such an employee/contractor, which consist wholly or mainly of employees/contractors of AIB plc and its associated companies (“Participant”).</li>
                            <li class="margin-bottom-20">
                                <strong>How to Enter and Entry Criteria:</strong><br />
                                <p>To enter the Competition, Participants must register for the competition on the Brand Values Competition Website and accept the terms of use of that website. The Competition will be open to entries from 27 August to 8 October (“the Entry Period”)</p>
                                <p>You may enter the Competition either as an individual or as a member of a team. A team should consist of 3 – 15 people. Participants may make more than one entry</p>
                                <p>Entries may take the form of video, picture or document files. The content of all entries must comply with AIB’s rules and standards and in particular must not contain material which could be considered inappropriate, offensive or to amount to harassment, bullying or a breach of any person’s rights in relation to privacy and data protection.  AIB will disqualify any entry which fails to comply with these requirements. Please make sure you get the permission of any person who features in your entry prior to its submission. Should you deem the content of any entry in breach of the above, please email brand.values@aib.ie with the relevant details.</p>
                                <p>All entries must be received within the Entry Period. Those who do not follow all of the instructions or abide by these Competition Rules or other instructions issued by AIB may be disqualified.</p>
                                <p>Entries must include only ideas and materials created by the Participant or that are otherwise publicly and freely available and must not infringe on the intellectual property rights of any other person or entity. Entries should not contain brand names, trademarks or company logos (other than those of AIB and its associated companies) and personal information about another individual.  AIB does not permit the infringement of others’ rights and use of materials not original to the Participant is grounds for disqualification and potential disciplinary action.</p>
                                <p>Entries must not have been previously submitted in any competition or contest of any kind or exhibited or displayed publicly (i.e. beyond your immediate family and circle of friends) through any means.</p>
                                <p>
                                    Each Participant represents and warrants that their entry:-<br />
                                    (i) is wholly original and is not a copy or imitation of any other material/ideas, or the participant has obtained all necessary rights;<br />
                                    (ii) will not infringe or violate any third party rights whatsoever or violate any agreement binding upon the participant; and<br />
                                    (iii) is not subject to any threatened or pending litigation, claim or dispute that might give rise to litigation, which adversely affects or in any way prejudices, impairs or diminishes the rights granted to AIB in connection with the Competition.<br />
                                    Each participant agrees to indemnify AIB against any third party claim arising from any breach of any representations, warranties and agreements made by the participant in entering the Competition.
                                </p>
                                <p>All entries become part of the Competition, however you will be permitted to edit or withdraw your entry should you wish any time prior to the submission closing date of the competition on 8 October.</p>
                            </li>
                            <li class="margin-bottom-20">
                                <strong>Participation in Events:</strong><br />
                                <p>Once submitted, all Participants commit to being available to attend events connected with the Competition, including the presentation of prizes.</p>
                            </li>
                            <li class="margin-bottom-20">
                                <strong>
                                    Intellectual Property Rights
                                </strong><br />
                                    <p>Each participant upon submission of their entry to the Competition hereby confirms that he/she understands that they are entering this Competition and that his/her entry is made during the course of employment and that the copyright in the entry shall therefore vest in AIB. Without prejudice to, and notwithstanding the foregoing, each Participant in consideration for his/her entry to the Competition hereby assigns all intellectual property rights in the entry to AIB and forever waives and relinquishes all rights including moral rights now or hereafter recognised in connection with the entry. AIB may request Participants to confirm such assignment and waiver by completing and submitting further written release/clearance documentation. Participants must have and maintain the ability to assign all such rights to AIB free of any limitations, restrictions or third party obligations.</p>
                                    <p>Participants agree that AIB shall have the sole discretion in determining the extent and manner of use of entries and shall be not obliged to use any entry.</p>
                                    <p>Each Participant acknowledges that other Participants may have created, or AIB may already be developing, ideas and concepts that have familiarities or similarities to those contained in their own entry and Participants will not be entitled to any compensation, rights or claims because of such familiarities or similarities.</p>
</li>
                            <li class="margin-bottom-20">
                                <strong>
                                    Prizes:
                                </strong><br />
                                    <p><i>Prize for winning individual:</i> Apple iPad or choice of item worth the same value.</p>
                                    <p><i>Prize for winning team:</i> A team experience of their choice e.g. team meal, spa day, team outing – adjustments will be made depending on the size of your team</p>
                                    <p>No cash alternative will be offered. AIB will not accept responsibility for defective goods or services won as prizes and any complaints must be referred to the relevant supplier.</p>
</li>
                            <li class="margin-bottom-20">
                                <strong>
                                    Determining the Winners:
                                </strong><br />
                                    The winners will be determined as follows:
                                    <ol>
                                        <li>a shortlist of Entries will be selected by a judging panel consisting of staff from different business areas in AIB, and we’ll also have a judge from IBOA (our union partner); and</li>
                                        <li>the shortlisted entries will be listed on the Brand Values Competition Website and individuals with access to the site will be invited to vote for their favourite ‘individual’ entry and their favourite ‘team’ entry (with a limited of one vote per category for each registered user of the site).  The entry which attracts the most votes will win.</li>
                                    </ol>
</li>
                            <li class="margin-bottom-20">
                                <strong>
                                    Winner Notification and Prize Award
                                </strong><br />
                                    <p>
                                        The winners will be notified by phone and/or email on 27 October.
                                    </p>
                                    <p>Notwithstanding that a winner has been declared, if AIB discovers before the distribution of the prizes that for any reason under these rules a winner should have been ineligible to enter the competition or if the entry should have been declared invalid, AIB reserves the right to determine that a winner is disqualified.</p>
</li>
                            <li class="margin-bottom-20">
                                <strong>
                                    Use of Information
                                </strong><br />
                                    <p>All entries become the physical property of AIB on submission and will not be returned and therefore AIB will not be responsible for the return or preservation of entries. All entries may be published by AIB in any manner or medium.</p>
                                    <p>By participating, each Participant consents to the use and disclosure of their name and image as a winner, (if successful) and he/she may be required to take part in publicity events.</p>
                                    <p>The name of the winners will be published on the intranet and paper certificates. </p>
</li>
                            <li class="margin-bottom-20">
                                <strong>
                                    AIB/Promoter Reservations
                                </strong><br />
                                    <p>
                                        AIB reserves the right to amend, withdraw or terminate the competition or alter the specification of the competition without prior notice should that specified be unavailable for reasons beyond its control.
                                    </p>
                                    <p>
                                        The promoter is Allied Irish Banks, p.l.c.<br />
                                        Registered in Ireland. Registered no. 24173.  Registered office: Bankcentre, Ballsbridge, Dublin 4. Allied Irish Banks, p.l.c. is regulated by the Central Bank of Ireland.

                                    </p>
</li>
                        </ol>
                    </section>



                    <p class="text-center centered">
                        @Html.ActionLink("Close", null, null, new { @class = "btn btn-grey btn-block rounded", id = "close" })
                    </p>

                    <script>
                        $("#close").click(function () { window.close(); });
                    </script>

                </div>


            </div>
